{
displayStrings = (
"c ̌ ̕ (with commaabovecomb) to look like č̕ ",
"/koronis.case ῾/dasia.case",
"⁊",
"13.04.2023, 16:00   Γιάννης Α. Μυλόπουλος*     Με αβάσιμα και ατεκμηρίωτα προσχήματα, που διαψεύστηκαν από ειδικούς επιστήμονες, η κυβέρνηση Μητσοτάκη σταμάτησε την πρόοδο του έργου και το γύρισε πίσω. Η Θεσσαλονίκη παρακμάζει γιατί εδώ και δεκαετίες τη χρησιμοποιούν σαν πεδίο εξυπηρέτησης προσωπικών, κομματικών και επιχειρηματικών",
"͘/gravecomb_dotaboverightcomb",
"᷇"
);
}
