(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
Ainvertedbreve,
"Alpha-latin",
Amacron,
Aogonek,
Aring,
Aringacute,
Aringbelow,
Astroke,
Atilde,
Aturned,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
"Beta-latin",
Bhook,
Bmacronbelow,
Bstroke,
C,
Cacute,
Cbar,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
"Chi-latin",
Chook,
Cstroke,
D,
DZ,
DZcaron,
Dcaron,
Dcedilla,
Dcircumflexbelow,
Dcroat,
Ddotaccent,
Ddotbelow,
Dhook,
Dmacronbelow,
Dtail,
Dtopbar,
Dz,
Dzcaron,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexbelow,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Eopen,
Ereversed,
EreversedOpen,
Esh,
Estroke,
Etilde,
Etildebelow,
Schwa,
Ezh,
Ezhcaron,
Ezhreversed,
F,
Fdotaccent,
Fhook,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Ghook,
Glottalstop,
Gmacron,
Gstroke,
Yogh,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
Heng,
Hhook,
Hturned,
I,
IJ,
IJ_acutecomb,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
"Iota-latin",
Istroke,
Itilde,
Itildebelow,
J,
Jacute,
Jcircumflex,
Jcrossedtail,
Jstroke,
K,
Kacute,
Kcaron,
Kcommaaccent,
Kdotbelow,
Khook,
Kmacronbelow,
Kstroke,
L,
LJ,
Lacute,
Lbar,
Lbelt,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Ldoublebar,
Lj,
Lmacronbelow,
Lmiddletilde,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
Mhook,
Mturned,
N,
NJ,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nj,
Nlongrightleg,
Nmacronbelow,
Ntilde,
Eng,
O,
OU,
Oacute,
Obreve,
Ocaron,
Ocenteredtilde,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccent,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
"Omega-latin",
Oogonek,
Oogonekmacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Pacute,
Pdotaccent,
Phook,
Thorn,
Pstroke,
Q,
Qhooktail,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rinvertedbreve,
Rmacronbelow,
Rstroke,
Rtail,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
Sobliquestroke,
T,
Tbar,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdiagonalstroke,
Tdotaccent,
Tdotbelow,
Thook,
Tmacronbelow,
Tretroflexhook,
U,
Uacute,
Ubar,
Ubreve,
Ucaron,
Ucircumflex,
Ucircumflexbelow,
Udblgrave,
Udieresis,
Udieresisacute,
Udieresisbelow,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
"Upsilon-latin",
Uring,
Utilde,
Utildeacute,
Utildebelow,
V,
"Gamma-latin",
Vdotbelow,
Vhook,
Vtilde,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
Whook,
X,
Xdieresis,
Xdotaccent,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Ystroke,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Zstroke,
Saltillo,
Adieresis.alt,
Dz.alt,
Dzcaron.alt,
Odieresis.alt,
Udieresis.alt,
K.alt1,
Kacute.alt1,
Kcaron.alt1,
Kcommaaccent.alt1,
Kdotbelow.alt1,
Kmacronbelow.alt1,
Kstroke.alt1,
L.alt1,
Lacute.alt1,
Lbar.alt1,
Lcaron.alt1,
Lcircumflexbelow.alt1,
Lcommaaccent.alt1,
Ldotbelow.alt1,
Ldotbelowmacron.alt1,
Ldoublebar.alt1,
Lmacronbelow.alt1,
Lmiddletilde.alt1,
Lslash.alt1,
R.alt1,
Racute.alt1,
Rcaron.alt1,
Rcommaaccent.alt1,
Rdblgrave.alt1,
Rdotaccent.alt1,
Rdotbelow.alt1,
Rdotbelowmacron.alt1,
Rinvertedbreve.alt1,
Rmacronbelow.alt1,
L.alt2,
Lacute.alt2,
Lbar.alt2,
Lbelt.alt2,
Lcaron.alt2,
Lcircumflexbelow.alt2,
Lcommaaccent.alt2,
Ldotbelow.alt2,
Ldotbelowmacron.alt2,
Ldoublebar.alt2,
Lmacronbelow.alt2,
Lmiddletilde.alt2,
Lslash.alt2,
R.alt2,
Racute.alt2,
Rcaron.alt2,
Rcommaaccent.alt2,
Rdblgrave.alt2,
Rdotaccent.alt2,
Rdotbelow.alt2,
Rdotbelowmacron.alt2,
Rinvertedbreve.alt2,
Rmacronbelow.alt2,
glottalstopreversed.case,
hmacronbelow.case,
jcaron.case,
Lcommaaccent.latnMAH,
Ncommaaccent.latnMAH,
Aogonek.latnNAV,
Eogonek.latnNAV,
Esh.localGAD,
Ezh.localGAD,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
Aogonek.loclNAV,
Eogonek.loclNAV,
Iogonek.loclNAV,
Oogonek.loclNAV,
Uogonek.loclNAV,
IJ.loclNLD,
Eng.loclNSM,
Cacute.loclPLK,
Nacute.loclPLK,
Oacute.loclPLK,
Sacute.loclPLK,
Zacute.loclPLK,
Vhook.loclTOD0,
Bhook.loclXPE,
I.uc,
Ismall,
Ismallstroke,
Nsmall,
Rsmall,
Usmallstroke,
adieresismacron,
adotaccent,
adotmacron,
"alpha-latin",
arighthalfring,
aringbelow,
astroke,
aemacron,
"beta-latin",
bhook,
bilabialclick,
bmacronbelow,
bstroke,
btopbar,
cbar,
ccedillaacute,
"chi-latin",
chook,
creversed,
cstroke,
dcedilla,
dcircumflexbelow,
dhook,
dhookandtail,
dmacronbelow,
dtail,
dtopbar,
ecedillabreve,
ecircumflexbelow,
emacronacute,
emacrongrave,
eopen,
eopenreversed,
ereversed,
esh,
estroke,
etildebelow,
eturned,
ezhcaron,
ezhreversed,
gacute,
"gamma-latin",
ghook,
glottalstop,
glottalstopreversed,
glottalstopsmall,
yogh,
hbrevebelow,
hcaron,
hcedilla,
hdieresis,
hdotaccent,
heng,
hhook,
hmacronbelow,
hturned,
idieresisacute,
"iota-latin",
istroke,
itildebelow,
j_acutecomb,
jacute,
jcaron,
jcrossedtail,
jdotlessstroke,
jstroke,
kacute,
kdotbelow,
khook,
kmacronbelow,
kstroke,
lambdastroke,
lbar,
lbelt,
lcircumflexbelow,
ldot,
ldotbelowmacron,
ldoublebar,
lmacronbelow,
lmiddletilde,
longsdotaccent,
mdotbelow,
mhook,
mturned,
napostrophe,
ncircumflexbelow,
ngrave,
nhookleft,
nlegrightlong,
nmacronbelow,
obarred,
odotaccent,
omacronacute,
omacrongrave,
"omega-latin",
oogonekmacron,
oopen,
otildeacute,
otildedieresis,
ou,
pacute,
phook,
pstroke,
qhooktail,
ramshorn,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rfishhook,
rmacronbelow,
rstroke,
rtail,
sacutedotaccent,
scarondotaccent,
sdotbelowdotaccent,
sobliquestroke,
longs,
tcircumflexbelow,
tdiagonalstroke,
tdieresis,
thook,
tmacronbelow,
tretroflexhook,
tturned,
ubar,
ucircumflexbelow,
udieresisacute,
udieresisbelow,
udieresiscaron,
udieresisgrave,
udieresismacron,
umacrondieresis,
"upsilon-latin",
utildeacute,
utildebelow,
vdotbelow,
vhook,
vtilde,
vturned,
wdotaccent,
wdotbelow,
whook,
wring,
xdieresis,
xdotaccent,
yhook,
yring,
ystroke,
yturned,
zcircumflex,
zmacronbelow,
zstroke,
saltillo,
dz.alt,
dzcaron.alt,
yacute.alt,
ycircumflex.alt,
ydieresis.alt,
ygrave.alt,
ymacron.alt,
ytilde.alt,
zacute.alt,
zcaron.alt,
zdotaccent.alt,
zdotbelow.alt,
f.alt1,
r.alt1,
rdotaccent.alt1,
rdotbelow.alt1,
rdotbelowmacron.alt1,
rmacronbelow.alt1,
r.alt2,
rdotaccent.alt2,
rdotbelow.alt2,
rdotbelowmacron.alt2,
rmacronbelow.alt2,
rstroke.alt2,
istroke.dotless,
lcommaaccent.latnMAH,
ncommaaccent.latnMAH,
aogonek.latnNAV,
eogonek.latnNAV,
j.latnNLD,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
aogonek.loclNAV,
eogonek.loclNAV,
iogonek.loclNAV,
oogonek.loclNAV,
uogonek.loclNAV,
ij.loclNLD,
cacute.loclPLK,
nacute.loclPLK,
oacute.loclPLK,
sacute.loclPLK,
zacute.loclPLK,
vhook.loclTOD0,
idieresis.narrow,
g.ss01,
gacute.ss01,
gcaron.ss01,
gmacron.ss01,
gstroke.ss01,
a.ss02,
aacute.ss02,
abreve.ss02,
acaron.ss02,
acircumflex.ss02,
acircumflexdotbelow.ss02,
adblgrave.ss02,
adieresis.ss02,
adieresismacron.ss02,
adotaccent.ss02,
adotbelow.ss02,
adotmacron.ss02,
agrave.ss02,
ainvertedbreve.ss02,
amacron.ss02,
aogonek.ss02,
arighthalfring.ss02,
aringbelow.ss02,
astroke.ss02,
atilde.ss02,
aturned.ss02,
l.ss03,
lbar.ss03,
lbelt.ss03,
lcircumflexbelow.ss03,
lcommaaccent.ss03,
ldotbelow.ss03,
ldotbelowmacron.ss03,
lmacronbelow.ss03,
lslash.ss03,
aogonek.ss02.latnNAV,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adotbelow,
agrave,
ahookabove,
ainvertedbreve,
amacron,
aogonek,
aring,
aringacute,
atilde,
ae,
aeacute,
b,
bdotaccent,
bdotbelow,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcroat,
ddotaccent,
ddotbelow,
dz,
dzcaron,
eth,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecircumflex,
ecircumflexacute,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
eogonek,
etilde,
schwa,
ezh,
f,
fdotaccent,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
gstroke,
h,
hbar,
hcircumflex,
hdotbelow,
i,
idotless,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
itilde,
ij,
ij_acutecomb,
j,
jdotless,
jcircumflex,
k,
kcaron,
kcommaaccent,
kgreenlandic,
l,
lacute,
lcaron,
lcommaaccent,
ldotbelow,
lj,
lslash,
m,
macute,
mdotaccent,
n,
nacute,
ncaron,
ncommaaccent,
ndotaccent,
ndotbelow,
nj,
ntilde,
eng,
o,
oacute,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
oogonek,
oslash,
oslashacute,
otilde,
otildemacron,
oe,
p,
pdotaccent,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
rdblgrave,
rinvertedbreve,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcommaaccent,
tdotaccent,
tdotbelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udblgrave,
udieresis,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhookabove,
ymacron,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
fdotaccent.alt1,
racute.alt1,
rcaron.alt1,
rcommaaccent.alt1,
rdblgrave.alt1,
rinvertedbreve.alt1,
racute.alt2,
rcaron.alt2,
rcommaaccent.alt2,
rdblgrave.alt2,
rinvertedbreve.alt2,
i.dot,
fi,
fl,
rtail_part,
EreversedOpen.sc,
a.sc,
aacute.sc,
abreve.sc,
abreveacute.sc,
abrevedotbelow.sc,
abrevegrave.sc,
abrevehookabove.sc,
abrevetilde.sc,
acaron.sc,
acircumflex.sc,
acircumflexacute.sc,
acircumflexdotbelow.sc,
acircumflexgrave.sc,
acircumflexhookabove.sc,
acircumflextilde.sc,
adblgrave.sc,
adieresis.sc,
adieresismacron.sc,
adotaccent.sc,
adotbelow.sc,
adotmacron.sc,
agrave.sc,
ahookabove.sc,
ainvertedbreve.sc,
"alpha-latin.sc",
amacron.sc,
aogonek.sc,
arighthalfring.sc,
aring.sc,
aringacute.sc,
aringbelow.sc,
astroke.sc,
atilde.sc,
aturned.sc,
ae.sc,
aeacute.sc,
aemacron.sc,
b.sc,
bdotaccent.sc,
bdotbelow.sc,
"beta-latin.sc",
bhook.sc,
bilabialclick.sc,
bmacronbelow.sc,
bstroke.sc,
btopbar.sc,
c.sc,
cacute.sc,
cbar.sc,
ccaron.sc,
ccedilla.sc,
ccedillaacute.sc,
ccircumflex.sc,
cdotaccent.sc,
"chi-latin.sc",
chook.sc,
creversed.sc,
cstroke.sc,
d.sc,
dcaron.sc,
dcedilla.sc,
dcircumflexbelow.sc,
dcroat.sc,
ddotaccent.sc,
ddotbelow.sc,
dhook.sc,
dmacronbelow.sc,
dtail.sc,
dtopbar.sc,
dz.sc,
dzcaron.sc,
eth.sc,
e.sc,
eacute.sc,
ebreve.sc,
ecaron.sc,
ecedilla.sc,
ecedillabreve.sc,
ecircumflex.sc,
ecircumflexacute.sc,
ecircumflexbelow.sc,
ecircumflexdotbelow.sc,
ecircumflexgrave.sc,
ecircumflexhookabove.sc,
ecircumflextilde.sc,
edblgrave.sc,
edieresis.sc,
edotaccent.sc,
edotbelow.sc,
egrave.sc,
ehookabove.sc,
einvertedbreve.sc,
emacron.sc,
emacronacute.sc,
emacrongrave.sc,
eogonek.sc,
eopen.sc,
ereversed.sc,
esh.sc,
estroke.sc,
etilde.sc,
etildebelow.sc,
eturned.sc,
schwa.sc,
ezh.sc,
ezhcaron.sc,
ezhreversed.sc,
f.sc,
fdotaccent.sc,
g.sc,
gacute.sc,
"gamma-latin.sc",
gbreve.sc,
gcaron.sc,
gcircumflex.sc,
gcommaaccent.sc,
gdotaccent.sc,
ghook.sc,
glottalstop.sc,
glottalstopreversed.sc,
glottalstopsmall.sc,
gmacron.sc,
gstroke.sc,
yogh.sc,
h.sc,
hbar.sc,
hbrevebelow.sc,
hcaron.sc,
hcedilla.sc,
hcircumflex.sc,
hdieresis.sc,
hdotaccent.sc,
hdotbelow.sc,
heng.sc,
hhook.sc,
hmacronbelow.sc,
hturned.sc,
i.sc,
idotless.sc,
iacute.sc,
ibreve.sc,
icaron.sc,
icircumflex.sc,
idblgrave.sc,
idieresis.sc,
idieresisacute.sc,
idotaccent.sc,
idotbelow.sc,
igrave.sc,
ihookabove.sc,
iinvertedbreve.sc,
imacron.sc,
iogonek.sc,
"iota-latin.sc",
istroke.sc,
itilde.sc,
itildebelow.sc,
ij.sc,
ij_acutecomb.sc,
j.sc,
jdotless.sc,
jacute.sc,
jcaron.sc,
jcircumflex.sc,
jcrossedtail.sc,
jdotlessstroke.sc,
jstroke.sc,
k.sc,
kacute.sc,
kcaron.sc,
kcommaaccent.sc,
kdotbelow.sc,
kgreenlandic.sc,
khook.sc,
kmacronbelow.sc,
kstroke.sc,
l.sc,
lacute.sc,
lambdastroke.sc,
lbar.sc,
lbelt.sc,
lcaron.sc,
lcircumflexbelow.sc,
lcommaaccent.sc,
ldot.sc,
ldotbelow.sc,
ldotbelowmacron.sc,
ldoublebar.sc,
lj.sc,
lmacronbelow.sc,
lmiddletilde.sc,
longsdotaccent.sc,
lslash.sc,
m.sc,
macute.sc,
mdotaccent.sc,
mdotbelow.sc,
mhook.sc,
mturned.sc,
n.sc,
nacute.sc,
ncaron.sc,
ncircumflexbelow.sc,
ncommaaccent.sc,
ndotaccent.sc,
ndotbelow.sc,
ngrave.sc,
nhookleft.sc,
nj.sc,
nlegrightlong.sc,
nlongrightleg.sc,
nmacronbelow.sc,
ntilde.sc,
eng.sc,
o.sc,
oacute.sc,
obarred.sc,
obreve.sc,
ocaron.sc,
ocircumflex.sc,
ocircumflexacute.sc,
ocircumflexdotbelow.sc,
ocircumflexgrave.sc,
ocircumflexhookabove.sc,
ocircumflextilde.sc,
odblgrave.sc,
odieresis.sc,
odieresismacron.sc,
odotaccent.sc,
odotaccentmacron.sc,
odotbelow.sc,
ograve.sc,
ohookabove.sc,
ohorn.sc,
ohornacute.sc,
ohorndotbelow.sc,
ohorngrave.sc,
ohornhookabove.sc,
ohorntilde.sc,
ohungarumlaut.sc,
oinvertedbreve.sc,
omacron.sc,
omacronacute.sc,
omacrongrave.sc,
"omega-latin.sc",
oogonek.sc,
oogonekmacron.sc,
oopen.sc,
oslash.sc,
oslashacute.sc,
otilde.sc,
otildeacute.sc,
otildedieresis.sc,
otildemacron.sc,
ou.sc,
oe.sc,
p.sc,
pacute.sc,
pdotaccent.sc,
phook.sc,
thorn.sc,
pstroke.sc,
q.sc,
qhooktail.sc,
r.sc,
racute.sc,
rcaron.sc,
rcommaaccent.sc,
rdblgrave.sc,
rdotaccent.sc,
rdotbelow.sc,
rdotbelowmacron.sc,
rfishhook.sc,
rinvertedbreve.sc,
rmacronbelow.sc,
rstroke.sc,
rtail.sc,
s.sc,
sacute.sc,
sacutedotaccent.sc,
scaron.sc,
scarondotaccent.sc,
scedilla.sc,
scircumflex.sc,
scommaaccent.sc,
sdotaccent.sc,
sdotbelow.sc,
sdotbelowdotaccent.sc,
sobliquestroke.sc,
longs.sc,
t.sc,
tbar.sc,
tcaron.sc,
tcedilla.sc,
tcircumflexbelow.sc,
tcommaaccent.sc,
tdiagonalstroke.sc,
tdieresis.sc,
tdotaccent.sc,
tdotbelow.sc,
thook.sc,
tmacronbelow.sc,
tretroflexhook.sc,
tturned.sc,
u.sc,
uacute.sc,
ubar.sc,
ubreve.sc,
ucaron.sc,
ucircumflex.sc,
ucircumflexbelow.sc,
udblgrave.sc,
udieresis.sc,
udieresisacute.sc,
udieresisbelow.sc,
udieresiscaron.sc,
udieresisgrave.sc,
udieresismacron.sc,
udotbelow.sc,
ugrave.sc,
uhookabove.sc,
uhorn.sc,
uhornacute.sc,
uhorndotbelow.sc,
uhorngrave.sc,
uhornhookabove.sc,
uhorntilde.sc,
uhungarumlaut.sc,
uinvertedbreve.sc,
umacron.sc,
umacrondieresis.sc,
uogonek.sc,
"upsilon-latin.sc",
uring.sc,
utilde.sc,
utildeacute.sc,
utildebelow.sc,
v.sc,
vdotbelow.sc,
vhook.sc,
vtilde.sc,
vturned.sc,
w.sc,
wacute.sc,
wcircumflex.sc,
wdieresis.sc,
wdotaccent.sc,
wdotbelow.sc,
wgrave.sc,
whook.sc,
wring.sc,
x.sc,
xdieresis.sc,
xdotaccent.sc,
y.sc,
yacute.sc,
ycircumflex.sc,
ydieresis.sc,
ydotaccent.sc,
ydotbelow.sc,
ygrave.sc,
yhook.sc,
yhookabove.sc,
ymacron.sc,
yring.sc,
ystroke.sc,
ytilde.sc,
yturned.sc,
z.sc,
zacute.sc,
zcaron.sc,
zcircumflex.sc,
zdotaccent.sc,
zdotbelow.sc,
zmacronbelow.sc,
zstroke.sc,
saltillo.sc,
r.alt1.sc,
racute.alt1.sc,
rcaron.alt1.sc,
rcommaaccent.alt1.sc,
rdblgrave.alt1.sc,
rdotaccent.alt1.sc,
rdotbelow.alt1.sc,
rdotbelowmacron.alt1.sc,
rinvertedbreve.alt1.sc,
rmacronbelow.alt1.sc,
k.alt2.sc,
kacute.alt2.sc,
kcaron.alt2.sc,
kcommaaccent.alt2.sc,
kdotbelow.alt2.sc,
kmacronbelow.alt2.sc,
kstroke.alt2.sc,
l.alt2.sc,
lacute.alt2.sc,
lbar.alt2.sc,
lcaron.alt2.sc,
lcircumflexbelow.alt2.sc,
lcommaaccent.alt2.sc,
ldot.alt2.sc,
ldotbelow.alt2.sc,
ldotbelowmacron.alt2.sc,
ldoublebar.alt2.sc,
lmacronbelow.alt2.sc,
lmiddletilde.alt2.sc,
lslash.alt2.sc,
r.alt2.sc,
racute.alt2.sc,
rcaron.alt2.sc,
rcommaaccent.alt2.sc,
rdblgrave.alt2.sc,
rdotaccent.alt2.sc,
rdotbelow.alt2.sc,
rdotbelowmacron.alt2.sc,
rinvertedbreve.alt2.sc,
rmacronbelow.alt2.sc,
i.dot.sc,
esh.localGAD.sc,
ezh.localGAD.sc,
lcommaaccent.loclMAH.sc,
ncommaaccent.loclMAH.sc,
aogonek.loclNAV.sc,
eogonek.loclNAV.sc,
iogonek.loclNAV.sc,
oogonek.loclNAV.sc,
uogonek.loclNAV.sc,
eng.loclNSM.sc,
vhook.loclTOD0.sc,
bhook.loclXPE.sc,
i.uc.sc,
f_f.sc,
f_f_i.sc,
f_f_l.sc,
fi.sc,
fl.sc,
germandbls.sc,
clickalveolar,
clickdental,
clicklateral,
clickretroflex,
hmod,
imod,
nmod,
wmod,
ymod,
imod.dotless,
ordfeminine,
ordmasculine,
"Cche-cy",
"CrossedO-cy",
"DeSoft-cy",
"Djerv-cy",
"DoubleO-cy",
"Dwe-cy",
"DzeReversed-cy",
"Dzelo-cy",
"Dzwe-cy",
"Dzze-cy",
"ElSoft-cy",
"EmSoft-cy",
"Hwe-cy",
"Iota-cy",
"IotifiedA-cy",
"OBinocular-cy",
"ODoubleMonocular-cy",
"OMonocular-cy",
"OmegaBroad-cy",
"Shwe-cy",
"Tche-cy",
"TeWithMiddleHook-cy",
"TseReversed-cy",
"Tsse-cy",
"Tswe-cy",
"Twe-cy",
"UkMonograph-cy",
"YatIotified-cy",
"YerNeutral-cy",
"YeruBackYer-cy",
"Yn-cy",
"YuReversed-cy",
"YusBlended-cy",
"YusClosedlittle-cy",
"YusiotifiedClosedLittle-cy",
"Zemlya-cy",
"Zhwe-cy",
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"Gedescender-cy",
"Gestroke-cy",
"Gemiddlehook-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Iishorttail-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Che-cy",
"Tse-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Omega-cy",
"Yat-cy",
"Eiotified-cy",
"Yuslittle-cy",
"Yuslittleiotified-cy",
"Yusbig-cy",
"Yusbigiotified-cy",
"Ksi-cy",
"Psi-cy",
"Fita-cy",
"Izhitsa-cy",
"Izhitsadblgrave-cy",
"Uk-cy",
"Zhedescender-cy",
"Zedescender-cy",
"Kadescender-cy",
"Kaverticalstroke-cy",
"Kastroke-cy",
"Kabashkir-cy",
"Endescender-cy",
"EnGe-cy",
"Pemiddlehook-cy",
"Pedescender-cy",
"Haabkhasian-cy",
"Esdescender-cy",
"Tedescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Tetse-cy",
"Chedescender-cy",
"Cheverticalstroke-cy",
"Shha-cy",
"Shhadescender-cy",
"Cheabkhasian-cy",
"Chedescenderabkhasian-cy",
"Palochka-cy",
"Zhebreve-cy",
"Kahook-cy",
"Eltail-cy",
"Enhook-cy",
"Entail-cy",
"Chekhakassian-cy",
"Emtail-cy",
"Abreve-cy",
"Adieresis-cy",
"Aie-cy",
"Iebreve-cy",
"Schwa-cy",
"Schwadieresis-cy",
"Zhedieresis-cy",
"Zedieresis-cy",
"Dzeabkhasian-cy",
"Imacron-cy",
"Idieresis-cy",
"Odieresis-cy",
"Obarred-cy",
"Obarreddieresis-cy",
"Edieresis-cy",
"Umacron-cy",
"Udieresis-cy",
"Uhungarumlaut-cy",
"Chedieresis-cy",
"Yerudieresis-cy",
"Gestrokehook-cy",
"Hahook-cy",
"Hastroke-cy",
"Komide-cy",
"Komidje-cy",
"Komizje-cy",
"Komidzje-cy",
"Komilje-cy",
"Kominje-cy",
"Komisje-cy",
"Komitje-cy",
"Reversedze-cy",
"Elhook-cy",
"Lha-cy",
"Rha-cy",
"Yae-cy",
"Qa-cy",
"We-cy",
"Aleutka-cy",
"Elmiddlehook-cy",
"Enmiddlehook-cy",
"Koppa-cy",
"Semisoftsign-cy",
"Ertick-cy",
"Ge-cy.alt",
"Ze-cy.alt",
"EnLeftHook-cy",
"Dzzhe-cy",
"Dche-cy",
"Eldescender-cy",
"De-cy.loclBGR",
"Zhe-cy.loclBGR",
"Ii-cy.loclBGR",
"Iishort-cy.loclBGR",
"Iigrave-cy.loclBGR",
"Ka-cy.loclBGR",
"Kje-cy.loclBGR",
"El-cy.loclBGR",
"Ef-cy.loclBGR",
"Zhedescender-cy.loclBGR",
"Zhebreve-cy.loclBGR",
"Gestroke-cy.loclBSH",
"Zedescender-cy.loclBSH",
"Esdescender-cy.loclBSH",
"Esdescender-cy.loclCHU",
"Zhe-cy.loclSRB",
"Ii-cy.loclSRB",
"cche-cy",
"crossedo-cy",
"omega-cy",
"eiotified-cy",
"yuslittle-cy",
"yuslittleiotified-cy",
"yusbigiotified-cy",
"ksi-cy",
"psi-cy",
"izhitsadblgrave-cy",
"uk-cy",
"lha-cy",
"rha-cy",
"yae-cy",
"aleutka-cy",
"elmiddlehook-cy",
"enmiddlehook-cy",
"koppa-cy",
"deSoft-cy",
"djerv-cy",
"doubleo-cy",
"dwe-cy",
"dzeReversed-cy",
"dzelo-cy",
"dzwe-cy",
"dzze-cy",
"elSoft-cy",
"emSoft-cy",
"hwe-cy",
"iota-cy",
"iotifieda-cy",
"oBinocular-cy",
"oDoubleMonocular-cy",
"oMonocular-cy",
"omegaBroad-cy",
"shwe-cy",
"tche-cy",
"tewithmiddlehook-cy",
"tseReversed-cy",
"tsse-cy",
"tswe-cy",
"twe-cy",
"ukMonograph-cy",
"yatIotified-cy",
"yerNeutral-cy",
"yeruBackyer-cy",
"yn-cy",
"yuReversed-cy",
"yusBlended-cy",
"yusClosedlittle-cy",
"yusiotifiedClosedLittle-cy",
"zemlya-cy",
"zhwe-cy",
"komidje-cy.alt",
"dzzhe-cy",
"dche-cy",
"ef-cy.loclBGR",
"gje-cy.loclMKD",
"be-cy.loclSRB",
"ge-cy.loclSRB",
"de-cy.loclSRB",
"zhe-cy.loclSRB",
"ii-cy.loclSRB",
"ka-cy.loclSRB",
"pe-cy.loclSRB",
"te-cy.loclSRB",
"sha-cy.loclSRB",
"yi-cy.narrow",
"yi-cy.narrow.001",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"gedescender-cy",
"gestroke-cy",
"gemiddlehook-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"iishorttail-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"che-cy",
"tse-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"yat-cy",
"yusbig-cy",
"fita-cy",
"izhitsa-cy",
"zhedescender-cy",
"zedescender-cy",
"kadescender-cy",
"kaverticalstroke-cy",
"kastroke-cy",
"kabashkir-cy",
"endescender-cy",
"enge-cy",
"pedescender-cy",
"pemiddlehook-cy",
"haabkhasian-cy",
"esdescender-cy",
"tedescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"tetse-cy",
"chedescender-cy",
"cheverticalstroke-cy",
"shha-cy",
"shhadescender-cy",
"cheabkhasian-cy",
"chedescenderabkhasian-cy",
"palochka-cy",
"zhebreve-cy",
"kahook-cy",
"eltail-cy",
"enhook-cy",
"entail-cy",
"chekhakassian-cy",
"emtail-cy",
"abreve-cy",
"adieresis-cy",
"aie-cy",
"iebreve-cy",
"schwa-cy",
"schwadieresis-cy",
"zhedieresis-cy",
"zedieresis-cy",
"dzeabkhasian-cy",
"imacron-cy",
"idieresis-cy",
"odieresis-cy",
"obarred-cy",
"obarreddieresis-cy",
"edieresis-cy",
"umacron-cy",
"udieresis-cy",
"uhungarumlaut-cy",
"chedieresis-cy",
"yerudieresis-cy",
"gestrokehook-cy",
"hahook-cy",
"hastroke-cy",
"komide-cy",
"komidje-cy",
"komizje-cy",
"komidzje-cy",
"komilje-cy",
"kominje-cy",
"komisje-cy",
"komitje-cy",
"reversedze-cy",
"elhook-cy",
"qa-cy",
"we-cy",
"semisoftsign-cy",
"ertick-cy",
"enlefthook-cy",
"eldescender-cy",
"ve-cy.loclBGR",
"ge-cy.loclBGR",
"de-cy.loclBGR",
"zhe-cy.loclBGR",
"ze-cy.loclBGR",
"ii-cy.loclBGR",
"iishort-cy.loclBGR",
"iigrave-cy.loclBGR",
"ka-cy.loclBGR",
"el-cy.loclBGR",
"en-cy.loclBGR",
"pe-cy.loclBGR",
"te-cy.loclBGR",
"che-cy.loclBGR",
"tse-cy.loclBGR",
"sha-cy.loclBGR",
"shcha-cy.loclBGR",
"softsign-cy.loclBGR",
"hardsign-cy.loclBGR",
"yu-cy.loclBGR",
"gestroke-cy.loclBSH",
"zedescender-cy.loclBSH",
"esdescender-cy.loclBSH",
"esdescender-cy.loclCHU",
"a-cy.sc",
"be-cy.sc",
"ve-cy.sc",
"ge-cy.sc",
"gje-cy.sc",
"geupturn-cy.sc",
"gedescender-cy.sc",
"gestroke-cy.sc",
"gemiddlehook-cy.sc",
"de-cy.sc",
"ie-cy.sc",
"iegrave-cy.sc",
"io-cy.sc",
"zhe-cy.sc",
"ze-cy.sc",
"ii-cy.sc",
"iishort-cy.sc",
"iigrave-cy.sc",
"iishorttail-cy.sc",
"ka-cy.sc",
"kje-cy.sc",
"el-cy.sc",
"em-cy.sc",
"en-cy.sc",
"o-cy.sc",
"pe-cy.sc",
"er-cy.sc",
"es-cy.sc",
"te-cy.sc",
"u-cy.sc",
"ushort-cy.sc",
"ef-cy.sc",
"ha-cy.sc",
"che-cy.sc",
"tse-cy.sc",
"sha-cy.sc",
"shcha-cy.sc",
"dzhe-cy.sc",
"softsign-cy.sc",
"yeru-cy.sc",
"hardsign-cy.sc",
"lje-cy.sc",
"nje-cy.sc",
"dze-cy.sc",
"e-cy.sc",
"ereversed-cy.sc",
"i-cy.sc",
"yi-cy.sc",
"je-cy.sc",
"tshe-cy.sc",
"yu-cy.sc",
"ya-cy.sc",
"dje-cy.sc",
"omega-cy.sc",
"yat-cy.sc",
"eiotified-cy.sc",
"yuslittle-cy.sc",
"yuslittleiotified-cy.sc",
"yusbig-cy.sc",
"yusbigiotified-cy.sc",
"ksi-cy.sc",
"psi-cy.sc",
"fita-cy.sc",
"izhitsa-cy.sc",
"izhitsadblgrave-cy.sc",
"uk-cy.sc",
"zhedescender-cy.sc",
"zedescender-cy.sc",
"kadescender-cy.sc",
"kaverticalstroke-cy.sc",
"kastroke-cy.sc",
"kabashkir-cy.sc",
"endescender-cy.sc",
"enge-cy.sc",
"pedescender-cy.sc",
"pemiddlehook-cy.sc",
"haabkhasian-cy.sc",
"esdescender-cy.sc",
"tedescender-cy.sc",
"ustrait-cy.sc",
"ustraitstroke-cy.sc",
"hadescender-cy.sc",
"tetse-cy.sc",
"chedescender-cy.sc",
"cheverticalstroke-cy.sc",
"shhadescender-cy.sc",
"shha-cy.sc",
"cheabkhasian-cy.sc",
"chedescenderabkhasian-cy.sc",
"palochka-cy.sc",
"zhebreve-cy.sc",
"kahook-cy.sc",
"eltail-cy.sc",
"enhook-cy.sc",
"entail-cy.sc",
"chekhakassian-cy.sc",
"emtail-cy.sc",
"abreve-cy.sc",
"adieresis-cy.sc",
"aie-cy.sc",
"iebreve-cy.sc",
"schwa-cy.sc",
"schwadieresis-cy.sc",
"zhedieresis-cy.sc",
"zedieresis-cy.sc",
"dzeabkhasian-cy.sc",
"imacron-cy.sc",
"idieresis-cy.sc",
"odieresis-cy.sc",
"obarred-cy.sc",
"obarreddieresis-cy.sc",
"edieresis-cy.sc",
"umacron-cy.sc",
"udieresis-cy.sc",
"uhungarumlaut-cy.sc",
"chedieresis-cy.sc",
"yerudieresis-cy.sc",
"gestrokehook-cy.sc",
"hahook-cy.sc",
"hastroke-cy.sc",
"komide-cy.sc",
"komidje-cy.sc",
"komizje-cy.sc",
"komidzje-cy.sc",
"komilje-cy.sc",
"kominje-cy.sc",
"komisje-cy.sc",
"komitje-cy.sc",
"reversedze-cy.sc",
"elhook-cy.sc",
"qa-cy.sc",
"we-cy.sc",
"koppa-cy.sc",
"semisoftsign-cy.sc",
"ertick-cy.sc",
"omegaBroad-cy.sc",
"enlefthook-cy.sc",
"eldescender-cy.sc",
"ii-cy.l.sc",
"ve-cy.loclBGR.sc",
"ge-cy.loclBGR.sc",
"de-cy.loclBGR.sc",
"zhe-cy.loclBGR.sc",
"ze-cy.loclBGR.sc",
"ii-cy.loclBGR.sc",
"iishort-cy.loclBGR.sc",
"iigrave-cy.loclBGR.sc",
"ka-cy.loclBGR.sc",
"el-cy.loclBGR.sc",
"en-cy.loclBGR.sc",
"pe-cy.loclBGR.sc",
"te-cy.loclBGR.sc",
"ef-cy.loclBGR.sc",
"che-cy.loclBGR.sc",
"tse-cy.loclBGR.sc",
"sha-cy.loclBGR.sc",
"shcha-cy.loclBGR.sc",
"softsign-cy.loclBGR.sc",
"hardsign-cy.loclBGR.sc",
"yu-cy.loclBGR.sc",
"gestroke-cy.loclBSH.sc",
"zedescender-cy.loclBSH.sc",
"esdescender-cy.loclBSH.sc",
"esdescender-cy.loclCHU.sc",
"gje-cy.loclMKD.sc",
"be-cy.loclSRB.sc",
"ge-cy.loclSRB.sc",
"pe-cy.loclSRB.sc",
"omultiocular-cy",
"modifierhardsign-cy",
"modifiersoftsign-cy",
"payerok-cy",
Yot,
Alpha,
Beta,
Gamma,
Delta,
Epsilon,
Zeta,
Eta,
Theta,
Iota,
Kappa,
Lambda,
Mu,
Nu,
Xi,
Omicron,
Pi,
Rho,
Sigma,
Tau,
Upsilon,
Phi,
Chi,
Psi,
Omega,
Alphatonos,
Epsilontonos,
Etatonos,
Iotatonos,
Omicrontonos,
Upsilontonos,
Omegatonos,
Iotadieresis,
Upsilondieresis,
KaiSymbol,
ThetaSymbol,
Alphapsili,
Alphadasia,
Alphapsilivaria,
Alphadasiavaria,
Alphapsilioxia,
Alphadasiaoxia,
Alphapsiliperispomeni,
Alphadasiaperispomeni,
Alphavaria,
Alphaoxia,
Alphavrachy,
Alphamacron,
Alphaprosgegrammeni,
Alphapsiliprosgegrammeni,
Alphadasiaprosgegrammeni,
Alphapsilivariaprosgegrammeni,
Alphadasiavariaprosgegrammeni,
Alphapsilioxiaprosgegrammeni,
Alphadasiaoxiaprosgegrammeni,
Alphapsiliperispomeniprosgegrammeni,
Alphadasiaperispomeniprosgegrammeni,
Epsilonpsili,
Epsilondasia,
Epsilonpsilivaria,
Epsilondasiavaria,
Epsilonpsilioxia,
Epsilondasiaoxia,
Epsilonvaria,
Epsilonoxia,
Etapsili,
Etadasia,
Etapsilivaria,
Etadasiavaria,
Etapsilioxia,
Etadasiaoxia,
Etapsiliperispomeni,
Etadasiaperispomeni,
Etavaria,
Etaoxia,
Etaprosgegrammeni,
Etapsiliprosgegrammeni,
Etadasiaprosgegrammeni,
Etapsilivariaprosgegrammeni,
Etadasiavariaprosgegrammeni,
Etapsilioxiaprosgegrammeni,
Etadasiaoxiaprosgegrammeni,
Etapsiliperispomeniprosgegrammeni,
Etadasiaperispomeniprosgegrammeni,
Iotapsili,
Iotadasia,
Iotapsilivaria,
Iotadasiavaria,
Iotapsilioxia,
Iotadasiaoxia,
Iotapsiliperispomeni,
Iotadasiaperispomeni,
Iotavaria,
Iotaoxia,
Iotavrachy,
Iotamacron,
Omicronpsili,
Omicrondasia,
Omicronpsilivaria,
Omicrondasiavaria,
Omicronpsilioxia,
Omicrondasiaoxia,
Omicronvaria,
Omicronoxia,
Rhodasia,
Upsilondasia,
Upsilondasiavaria,
Upsilondasiaoxia,
Upsilondasiaperispomeni,
Upsilonvaria,
Upsilonoxia,
Upsilonvrachy,
Upsilonmacron,
Omegapsili,
Omegadasia,
Omegapsilivaria,
Omegadasiavaria,
Omegapsilioxia,
Omegadasiaoxia,
Omegapsiliperispomeni,
Omegadasiaperispomeni,
Omegavaria,
Omegaoxia,
Omegaprosgegrammeni,
Omegapsiliprosgegrammeni,
Omegadasiaprosgegrammeni,
Omegapsilivariaprosgegrammeni,
Omegadasiavariaprosgegrammeni,
Omegapsilioxiaprosgegrammeni,
Omegadasiaoxiaprosgegrammeni,
Omegapsiliperispomeniprosgegrammeni,
Omegadasiaperispomeniprosgegrammeni,
Alphaprosgegrammeni.alt,
Alphapsiliprosgegrammeni.alt,
Alphadasiaprosgegrammeni.alt,
Alphapsilivariaprosgegrammeni.alt,
Alphadasiavariaprosgegrammeni.alt,
Alphapsilioxiaprosgegrammeni.alt,
Alphadasiaoxiaprosgegrammeni.alt,
Alphapsiliperispomeniprosgegrammeni.alt,
Alphadasiaperispomeniprosgegrammeni.alt,
Etaprosgegrammeni.alt,
Etapsiliprosgegrammeni.alt,
Etadasiaprosgegrammeni.alt,
Etapsilivariaprosgegrammeni.alt,
Etadasiavariaprosgegrammeni.alt,
Etapsilioxiaprosgegrammeni.alt,
Etadasiaoxiaprosgegrammeni.alt,
Etapsiliperispomeniprosgegrammeni.alt,
Etadasiaperispomeniprosgegrammeni.alt,
Omegaprosgegrammeni.alt,
Omegapsiliprosgegrammeni.alt,
Omegadasiaprosgegrammeni.alt,
Omegapsilivariaprosgegrammeni.alt,
Omegadasiavariaprosgegrammeni.alt,
Omegapsilioxiaprosgegrammeni.alt,
Omegadasiaoxiaprosgegrammeni.alt,
Omegapsiliperispomeniprosgegrammeni.alt,
Omegadasiaperispomeniprosgegrammeni.alt,
Gamma.calt,
Tau.calt,
alpha,
beta,
gamma,
delta,
epsilon,
zeta,
eta,
theta,
iota,
kappa,
lambda,
mu,
nu,
xi,
omicron,
pi,
rho,
sigmafinal,
sigma,
tau,
upsilon,
phi,
chi,
psi,
omega,
iotatonos,
iotadieresis,
iotadieresistonos,
upsilontonos,
upsilondieresis,
upsilondieresistonos,
omicrontonos,
omegatonos,
alphatonos,
epsilontonos,
etatonos,
kaiSymbol,
betaSymbol,
thetaSymbol,
alphapsili,
alphadasia,
alphapsilivaria,
alphadasiavaria,
alphapsilioxia,
alphadasiaoxia,
alphapsiliperispomeni,
alphadasiaperispomeni,
alphavaria,
alphaoxia,
alphaperispomeni,
alphavrachy,
alphamacron,
alphaypogegrammeni,
alphavariaypogegrammeni,
alphaoxiaypogegrammeni,
alphapsiliypogegrammeni,
alphadasiaypogegrammeni,
alphapsilivariaypogegrammeni,
alphadasiavariaypogegrammeni,
alphapsilioxiaypogegrammeni,
alphadasiaoxiaypogegrammeni,
alphapsiliperispomeniypogegrammeni,
alphadasiaperispomeniypogegrammeni,
alphaperispomeniypogegrammeni,
epsilonpsili,
epsilondasia,
epsilonpsilivaria,
epsilondasiavaria,
epsilonpsilioxia,
epsilondasiaoxia,
epsilonvaria,
epsilonoxia,
etapsili,
etadasia,
etapsilivaria,
etadasiavaria,
etapsilioxia,
etadasiaoxia,
etapsiliperispomeni,
etadasiaperispomeni,
etavaria,
etaoxia,
etaperispomeni,
etaypogegrammeni,
etavariaypogegrammeni,
etaoxiaypogegrammeni,
etapsiliypogegrammeni,
etadasiaypogegrammeni,
etapsilivariaypogegrammeni,
etadasiavariaypogegrammeni,
etapsilioxiaypogegrammeni,
etadasiaoxiaypogegrammeni,
etapsiliperispomeniypogegrammeni,
etadasiaperispomeniypogegrammeni,
etaperispomeniypogegrammeni,
iotapsili,
iotadasia,
iotapsilivaria,
iotadasiavaria,
iotapsilioxia,
iotadasiaoxia,
iotapsiliperispomeni,
iotadasiaperispomeni,
iotavaria,
iotaoxia,
iotaperispomeni,
iotavrachy,
iotamacron,
iotadialytikavaria,
iotadialytikaoxia,
iotadialytikaperispomeni,
omicronpsili,
omicrondasia,
omicronpsilivaria,
omicrondasiavaria,
omicronpsilioxia,
omicrondasiaoxia,
omicronvaria,
omicronoxia,
rhopsili,
rhodasia,
upsilonpsili,
upsilondasia,
upsilonpsilivaria,
upsilondasiavaria,
upsilonpsilioxia,
upsilondasiaoxia,
upsilonpsiliperispomeni,
upsilondasiaperispomeni,
upsilonvaria,
upsilonoxia,
upsilonperispomeni,
upsilonvrachy,
upsilonmacron,
upsilondialytikavaria,
upsilondialytikaoxia,
upsilondialytikaperispomeni,
omegapsili,
omegadasia,
omegapsilivaria,
omegadasiavaria,
omegapsilioxia,
omegadasiaoxia,
omegapsiliperispomeni,
omegadasiaperispomeni,
omegavaria,
omegaoxia,
omegaperispomeni,
omegaypogegrammeni,
omegavariaypogegrammeni,
omegaoxiaypogegrammeni,
omegapsiliypogegrammeni,
omegadasiaypogegrammeni,
omegapsilivariaypogegrammeni,
omegadasiavariaypogegrammeni,
omegapsilioxiaypogegrammeni,
omegadasiaoxiaypogegrammeni,
omegapsiliperispomeniypogegrammeni,
omegadasiaperispomeniypogegrammeni,
omegaperispomeniypogegrammeni,
phi.alt1,
prosgegrammeni,
theta.loclLATN,
alpha.sc,
beta.sc,
gamma.sc,
delta.sc,
epsilon.sc,
zeta.sc,
eta.sc,
theta.sc,
iota.sc,
kappa.sc,
lambda.sc,
mu.sc,
nu.sc,
xi.sc,
omicron.sc,
pi.sc,
rho.sc,
sigmafinal.sc,
sigma.sc,
tau.sc,
upsilon.sc,
phi.sc,
chi.sc,
psi.sc,
omega.sc,
iotatonos.sc,
iotadieresis.sc,
iotadieresistonos.sc,
upsilontonos.sc,
upsilondieresis.sc,
upsilondieresistonos.sc,
omicrontonos.sc,
omegatonos.sc,
alphatonos.sc,
epsilontonos.sc,
etatonos.sc,
kaiSymbol.sc,
alphapsili.sc,
alphadasia.sc,
alphapsilivaria.sc,
alphadasiavaria.sc,
alphapsilioxia.sc,
alphadasiaoxia.sc,
alphapsiliperispomeni.sc,
alphadasiaperispomeni.sc,
alphavaria.sc,
alphaoxia.sc,
alphaperispomeni.sc,
alphavrachy.sc,
alphamacron.sc,
alphaypogegrammeni.sc,
alphavariaypogegrammeni.sc,
alphaoxiaypogegrammeni.sc,
alphapsiliypogegrammeni.sc,
alphadasiaypogegrammeni.sc,
alphapsilivariaypogegrammeni.sc,
alphadasiavariaypogegrammeni.sc,
alphapsilioxiaypogegrammeni.sc,
alphadasiaoxiaypogegrammeni.sc,
alphapsiliperispomeniypogegrammeni.sc,
alphadasiaperispomeniypogegrammeni.sc,
alphaperispomeniypogegrammeni.sc,
epsilonpsili.sc,
epsilondasia.sc,
epsilonpsilivaria.sc,
epsilondasiavaria.sc,
epsilonpsilioxia.sc,
epsilondasiaoxia.sc,
epsilonvaria.sc,
epsilonoxia.sc,
etapsili.sc,
etadasia.sc,
etapsilivaria.sc,
etadasiavaria.sc,
etapsilioxia.sc,
etadasiaoxia.sc,
etapsiliperispomeni.sc,
etadasiaperispomeni.sc,
etavaria.sc,
etaoxia.sc,
etaperispomeni.sc,
etaypogegrammeni.sc,
etavariaypogegrammeni.sc,
etaoxiaypogegrammeni.sc,
etapsiliypogegrammeni.sc,
etadasiaypogegrammeni.sc,
etapsilivariaypogegrammeni.sc,
etadasiavariaypogegrammeni.sc,
etapsilioxiaypogegrammeni.sc,
etadasiaoxiaypogegrammeni.sc,
etapsiliperispomeniypogegrammeni.sc,
etadasiaperispomeniypogegrammeni.sc,
etaperispomeniypogegrammeni.sc,
iotapsili.sc,
iotadasia.sc,
iotapsilivaria.sc,
iotadasiavaria.sc,
iotapsilioxia.sc,
iotadasiaoxia.sc,
iotapsiliperispomeni.sc,
iotadasiaperispomeni.sc,
iotavaria.sc,
iotaoxia.sc,
iotaperispomeni.sc,
iotavrachy.sc,
iotamacron.sc,
iotadialytikavaria.sc,
iotadialytikaoxia.sc,
iotadialytikaperispomeni.sc,
omicronpsili.sc,
omicrondasia.sc,
omicronpsilivaria.sc,
omicrondasiavaria.sc,
omicronpsilioxia.sc,
omicrondasiaoxia.sc,
omicronvaria.sc,
omicronoxia.sc,
rhopsili.sc,
rhodasia.sc,
upsilonpsili.sc,
upsilondasia.sc,
upsilonpsilivaria.sc,
upsilondasiavaria.sc,
upsilonpsilioxia.sc,
upsilondasiaoxia.sc,
upsilonpsiliperispomeni.sc,
upsilondasiaperispomeni.sc,
upsilonvaria.sc,
upsilonoxia.sc,
upsilonperispomeni.sc,
upsilonvrachy.sc,
upsilonmacron.sc,
upsilondialytikavaria.sc,
upsilondialytikaoxia.sc,
upsilondialytikaperispomeni.sc,
omegapsili.sc,
omegadasia.sc,
omegapsilivaria.sc,
omegadasiavaria.sc,
omegapsilioxia.sc,
omegadasiaoxia.sc,
omegapsiliperispomeni.sc,
omegadasiaperispomeni.sc,
omegavaria.sc,
omegaoxia.sc,
omegaperispomeni.sc,
omegaypogegrammeni.sc,
omegavariaypogegrammeni.sc,
omegaoxiaypogegrammeni.sc,
omegapsiliypogegrammeni.sc,
omegadasiaypogegrammeni.sc,
omegapsilivariaypogegrammeni.sc,
omegadasiavariaypogegrammeni.sc,
omegapsilioxiaypogegrammeni.sc,
omegadasiaoxiaypogegrammeni.sc,
omegapsiliperispomeniypogegrammeni.sc,
omegadasiaperispomeniypogegrammeni.sc,
omegaperispomeniypogegrammeni.sc,
prosgegrammeni.sc,
ypogegrammeni.sc,
ypogegrammeni,
hinferior,
kinferior,
linferior,
minferior,
ninferior,
pinferior,
sinferior,
tinferior,
Nmod,
amod,
dothorizontalbarmod,
dotslashmod,
dotverticalbarmod,
eOpenmod,
emod,
istrokemod,
lowerrightcorneranglemod,
omod,
thetamod,
ubarmod,
umod,
vmod,
zmod,
istrokemod.dotless,
"Onehundredreversed-roman",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.sc,
one.sc,
two.sc,
three.sc,
four.sc,
five.sc,
six.sc,
seven.sc,
eight.sc,
nine.sc,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zero.lf.zero,
zero.osf.zero,
zero.sc.zero,
zero.tf.zero,
zero.tosf.zero,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
onetenth,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
narrownbspace,
.notdef,
anoteleia,
questiongreek,
"leftanglebracket-math",
"rightanglebracket-math",
period_part,
slash_part,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
asterism,
dblverticalbar,
dittomark,
etTironian,
exclamdouble,
hyphenationpoint,
numbersign,
slash,
backslash,
triangularbullet,
turneddagger,
exclamdown.case,
questiondown.case,
periodcentered.case,
bullet.case,
slash.case,
backslash.case,
periodcentered.loclCAT,
exclam.sc,
exclamdown.sc,
question.sc,
questiondown.sc,
question.ss01,
questiondown.ss01,
periodcentered.loclCAT.case,
questiondown.ss01.case,
question.ss01.sc,
questiondown.ss01.sc,
hyphen,
softhyphen,
endash,
emdash,
doubleobliquehyphen,
figuredash,
horizontalbar,
hyphentwo,
nonbreakinghyphen,
underscore,
hyphen.case,
softhyphen.case,
endash.case,
emdash.case,
figuredash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
parenleft.sc,
parenright.sc,
braceleft.sc,
braceright.sc,
bracketleft.sc,
bracketright.sc,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
tripleprime,
quotedbl,
quotesingle,
quoteright.001,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
quotesinglbase.ss01,
quotedblbase.ss01,
quotedblleft.ss01,
quotedblright.ss01,
quoteleft.ss01,
quoteright.ss01,
quotereversed.ss01,
florin,
"thousand-cy",
"numeral-greek",
"lowernumeral-greek",
"dram-arm",
baht,
beginlowtonemod,
colonmod,
doubleapostrophemod,
endlowtonemod,
minusmod,
shortequalmod,
voicingmod,
ballotBoxWithCheck,
ballotBoxWithX,
heartWhiteSuit,
heartBlackSuit,
accountof,
addressedtothesubject,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
careof,
degree,
minute,
second,
bar,
brokenbar,
literSign,
dagger,
daggerdbl,
estimated,
numero,
blackDownEquilateralArrowhead,
blackLargeSquare,
blackLeftEquilateralArrowhead,
blackRightEquilateralArrowhead,
blackUpEquilateralArrowhead,
cadauna,
servicemark,
telephone,
threeDLeftLightedDownEquilateralArrowhead,
threeDRightLightedUpEquilateralArrowhead,
threeDTopLightedLeftEquilateralArrowhead,
threeDTopLightedRightEquilateralArrowhead,
viewdataSquare,
whiteLargeSquare,
at.case,
bar.case,
brokenbar.case,
ampersand.sc,
paragraph.sc,
section.sc,
degree.sc,
bar.sc,
brokenbar.sc,
dagger.sc,
daggerdbl.sc,
at.case.sc,
bitcoin,
cedi,
cent,
colonsign,
cruzeiro,
currency,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lari,
lira,
liraTurkish,
manat,
mill,
naira,
peseta,
peso,
ruble,
rupee,
rupeeIndian,
sheqel,
sterling,
tenge,
tugrik,
won,
yen,
dollar.ss01,
bulletoperator,
commercialMinusSign,
divisionslash,
greateroverequal,
lessoverequal,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
emptyset,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
ratio,
plus.case,
minus.case,
multiply.case,
divide.case,
equal.case,
notequal.case,
greater.case,
less.case,
greaterequal.case,
lessequal.case,
plusminus.case,
approxequal.case,
asciitilde.case,
logicalnot.case,
emptyset.case,
infinity.case,
ratio.case,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
upBlackArrow,
northEastBlackArrow,
southEastBlackArrow,
downBlackArrow,
southWestBlackArrow,
leftBlackArrow,
northWestBlackArrow,
rightTriangleBlackArrow,
blackCircle,
whiteCircle,
dottedCircle,
fisheye,
whiteBullet,
blackDiamond,
whiteDiamond,
lozenge,
blackSquare,
whiteSquare,
blackSmallSquare,
whiteSmallSquare,
mediumBlackSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
upBlackSmallTriangle,
rightBlackSmallTriangle,
downBlackSmallTriangle,
leftBlackSmallTriangle,
upWhiteSmallTriangle,
rightWhiteSmallTriangle,
downWhiteSmallTriangle,
leftWhiteSmallTriangle,
rbelowcomb,
"hundredthousandssigncomb-cy",
"millionssigncomb-cy",
"brevecomb-cy",
"efcomb-cy",
"kavykacomb-cy",
"payerokcomb-cy",
"brevecomb-cy.case",
perispomenicomb,
koroniscomb,
dialytikatonoscomb,
ypogegrammenicomb,
perispomenicomb.Por,
perispomenicomb.case,
ypogegrammenicomb.sc,
tonos,
tonos.case,
dieresistonos,
psili,
psili.case,
koronis,
koronis.case,
dasia,
dasia.case,
psilivaria,
dasiavaria,
dasiavaria.case,
psilioxia,
psilioxia.case,
dasiaoxia,
dasiaoxia.case,
psiliperispomeni,
psiliperispomeni.case,
dasiaperispomeni,
dasiaperispomeni.case,
dialytikavaria,
dialytikavaria.case,
dialytikaoxia,
dialytikaoxia.case,
dialytikaperispomeni,
dialytikaperispomeni.case,
varia,
varia.case,
oxia,
oxia.case,
perispomeni,
perispomeni.case,
psiliperispomeni.Por,
dasiaperispomeni.Por,
dialytikaperispomeni.Por,
perispomeni.Por,
psilivaria.case,
tonos.sc,
psilivaria.sc,
dasiavaria.sc,
psilioxia.sc,
dasiaoxia.sc,
psiliperispomeni.sc,
dasiaperispomeni.sc,
dialytikavaria.sc,
dialytikaoxia.sc,
dialytikaperispomeni.sc,
varia.sc,
oxia.sc,
perispomeni.sc,
dieresiscomb,
dieresiscomb_gravecomb,
dieresiscomb_acutecomb,
dieresiscomb_caroncomb,
dieresiscomb_macroncomb,
dotaccentcomb,
dotaccentcomb_macroncomb,
gravecomb,
gravecomb_macroncomb,
gravecomb_dotaboverightcomb,
acutecomb,
acutecomb_dotaccentcomb,
acutecomb_macroncomb,
acutecomb_dotaboverightcomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
circumflexcomb_dotaboverightcomb,
caroncomb,
caroncomb_dotaccentcomb,
brevecomb,
brevecomb_dotaboverightcomb,
ringcomb,
tildecomb,
tildecomb_dieresiscomb,
tildecomb_acutecomb,
tildecomb_macroncomb,
macroncomb,
macroncomb_dieresiscomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
macroncomb_dotaboverightcomb,
hookabovecomb,
verticallineabovecomb,
verticallineabovecomb_dotaboverightcomb,
dblgravecomb,
candraBinducomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
commaaboverightcomb,
horncomb,
minusbelowcomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
tildeoverlaycomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
dotaboverightcomb,
doublebrevebelowcomb,
doublebrevecomb,
breveinverteddoublecomb,
arrowdoublerightbelowcomb,
acutegraveacutecomb,
acutemacroncomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
graveacutegravecomb,
gravemacroncomb,
macronacutecomb,
macrongravecomb,
dieresiscomb.case,
dieresiscomb_gravecomb.case,
dieresiscomb_acutecomb.case,
dieresiscomb_caroncomb.case,
dieresiscomb_macroncomb.case,
dotaccentcomb.case,
dotaccentcomb_macroncomb.case,
gravecomb.case,
gravecomb_macroncomb.case,
acutecomb.case,
acutecomb_dotaccentcomb.case,
acutecomb_macroncomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
caroncomb_dotaccentcomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb.case,
tildecomb.case,
tildecomb_dieresiscomb.case,
tildecomb_acutecomb.case,
tildecomb_macroncomb.case,
macroncomb.case,
macroncomb_dieresiscomb.case,
macroncomb_gravecomb.case,
macroncomb_acutecomb.case,
hookabovecomb.case,
verticallineabovecomb.case,
dblgravecomb.case,
breveinvertedcomb.case,
commaturnedabovecomb.case,
horncomb.case,
dotbelowcomb.case,
dieresisbelowcomb.case,
ringbelowcomb.case,
commaaccentcomb.case,
cedillacomb.case,
ogonekcomb.case,
circumflexbelowcomb.case,
brevebelowcomb.case,
tildebelowcomb.case,
macronbelowcomb.case,
brevecomb.greek,
commaaccentcomb.loclMAH,
ogonekcomb.loclNAV,
brevecomb.narrow,
brevecomb_tildecomb.case.001,
brevecomb.greek.case,
brevecomb.narrow.case,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
ring_acutecomb,
tilde,
macron,
cedilla,
ogonek,
caron.alt,
dieresis.case,
dotaccent.case,
grave.case,
acute.case,
hungarumlaut.case,
circumflex.case,
caron.case,
ring.case,
ring_acutecomb.case,
tilde.case,
macron.case,
cedilla.case,
ogonek.case,
dieresis.narrow,
grave.narrow,
acute.narrow,
circumflex.narrow,
tilde.narrow,
macron.narrow,
ogonek.narrow,
dieresis.narrow.case,
circumflex.narrow.case,
tilde.narrow.case,
apostrophemod,
commareversedmod,
commaturnedmod,
doubleprimemod,
glottalstopmod,
glottalstopreversedmod,
primemod,
ringhalfleft,
ringhalfright,
verticallinelowmod,
verticallinemod,
uni047A,
uni047B,
uni047C,
uni047D,
uni047E,
uni047F,
uni20C0,
uniA7AE,
uniA7B8,
uniA7B9,
uniA7C7,
uniA7C8,
uniA7CC,
uniA7CD,
uniA7AE.sc,
uniA7C8.sc,
Uni01A6,
oopenmod,
ringacute,
u1d53,
Ibar_part.,
Tzbar_part.,
UCslash_part.Cstroke,
UCstrokecomb_part.,
ascenderbar_part.,
ascenderhalfbar_part.,
belt_part.,
btmstrokecomb_part.,
capbar_part.,
caplongbar_part.,
dafrican.sc,
dbar_part.,
fhook.sc,
lcslash_part.,
midbar_part.,
modbar_part.,
ocenteredtilde.sc,
"omegabroad-cy.sc",
ringacute.case,
shortbar_part.,
strokecomb_part.,
strokecombmiddle_part.,
topstrokecomb_part.,
upsilonafrican.sc,
cy.i_part.,
"dieresis-cy",
slashocomb,
Decy_part.,
UCEslash_part.,
UCslash_part.,
Yuslittlecy_part.,
_Bhook.part,
_BhookSC.part,
_Dhook.part,
_Hhook.part,
_HhookSC.part,
_Phook.part,
_PhookSC.part,
_UChooktop.part,
_dhookSC.part,
_dot.part,
_hook.part,
_hooktop.part,
descender_part.,
ertick_part.,
fita_part.,
glongbar_part.,
lefttooth_part.,
old.estimated,
qtail.case,
qtail.sc,
righttooth_part.,
slashocomb.case,
slashocomb.sc,
thetabar_part.
)