{
displayStrings = (
"CC
CR
CT
EC
EE
EY
FE
GA
GE
HS
IT
JA
KS
LE
LM
MS
MY
OH
RO
RY
SA
SM
HISSING
STUBEN
SUNBEM
TANOY
UMPIRE
YOGHERT
YS
Cr
Ev
Ex
Tr
Гу
Ah
Ch
It
Kh
Rh
Th
Fo
To
Un
Yo
Ad
Af
Gl
Hi
Hl
Ki
Ul
cc
ee
re
rr
uu
rs
rz
/fi.sc/j.sc 
/f.sc/fl.sc 
/r.sc/r.sc 
o:
r:
s:
H?
(f
(A
(S
(V
c.
t.
A.
C.
.)
n'
H'
\".
-T
gr
ta
gg
gh
gt
pp
gj
ox
zk
ss
zz
ny
oi
fs
in
io
il

AS
EZ
TO
ZE
Ze
Ib
Wh
By
Ti
er
rt
un
T/h.sc 
u!
H!
(b
k,
u.
kt
th
tz
tj
nn
fb
iz
ll

CA
HH
IA
II
IM
KH
ME
ND
OO
TT
TU
VH
VV
XX
Or
ev
ay
ey
ry
xi
/fi.sc/a.sc 
(J
ka
tt
її
ts
gf
ky
tf
ty
na
zr
zu
nk
ni
od
ft
yt
dd
ff
yf
yi

niryid TEHEHDIV 
TEHHDIV TEHEDIV 
g.
n;
TEHLTDIV 
g,
nisnid 
TEHIADIV TEHMEDIV 
niryid TEHIIDIV 
niryid TEHEDIV 
H:
t:
E.
z-
TEHMMDIV 
TEHKHDIV TEHNDIV 
niryid TEHEDIV 
niryid TEHEDIV 
ni/fi.sc/n.sc id 
nikid 
niktid nikid 
nikid nilid 
nitzid nikid 
niryid TEHEDIV 
niktid nikid ",
"nniknn
ki

nieyid nievid 
/el-cy.sc/softsign-cy.sc 
/h.sc :
TEHTEDIV 
ni/fl.sc/e.sc id 
TEHHDIV 
niryid TEHHDIV 
nikyid TEHHDIV 
TEHBADIV 
-n
nianid 
nijid 
nijid nigjid 
nifnid 
-S
d'
niylid 
niylid 
niylid 
TEHZDIV 
TEHASDIV TEHZDIV 
nikkid 
Rider 
niuuid TEHBUDIV ",
"oo
r:
uu
RO
YO
TE

TEHFEDIV TEHTEDIV 
TEHNNDIV 
TEHAJDIV Afider Aider nikaid 
g,
TEHNNDIV 
nittid nitjid 
nifnid 
TEHISDIV 
TEHETDIV 
ГуTEHKHDIV 
ninyid Whider 
ГуTEHXXDIV 
nirrid nizuid 
/el-cy.sc/softsign-cy.sc 
s.
TEHBADIV 
TEHRSDIV 
TEHTEDIV 
ЕЛ
nirsid Khider 
(P
niyfid 
ni/fl.sc/e.sc id 
\"T
ni/fi.sc/a.sc id 
TEHFUDIV 
nimyid 
nixoid 
Olider 
nirsid Khider 
TEHKHDIV 
TEHISDIV ",
"oo
r:
nuunn
RO
YO
LE

H:n;
Laider nizzid ",
"oo
r:
\".

niooid niodid 
ninnid Orider 
niooid niodid 
niodid Deider 
ЕЛ
nianid 
nianid niunid ",
"ik
ki

nitsid nikid ",
"kn
AS

TEHJEDIV 
Aider 
x?
47"
);
}
