{
displayStrings = (
"Â/circumflexcomb_gravecomb.case Ấ",
"́/acutecomb_dotaboverightcomb",
"/circumflexcomb_acutecomb/circumflexcomb_gravecomb/circumflexcomb_hookabovecomb/circumflexcomb_tildecomb",
"̂/circumflexcomb_acutecomb/circumflexcomb_gravecomb/circumflexcomb_hookabovecomb/circumflexcomb_tildecomb",
"жӂ",
"yуў",
"өo",
"ыӹ",
"зӟ",
"
niyfid 
Ibider 
TEHSMDIV 
Trider 
‘fsh
H?!
TEHCADIV 
s:
ГуTEHKHDIV 
nirrid nizuid 
їїTEHNDIV 
TEHEEDIV 
TEHNDIV 
nirsid Khider 
nikyid TEHHDIV 
TEHITDIV 
ni/fi.sc/j.sc id 
TEHIMDIV 
nievid Whider 
TEHUMDIV 
H!
niggid 
niyfid 
Itider 
nikyid TEHHDIV 
TEHSMDIV 
nizkid 
n;
TEHRRDIV 
Ibider 
TEHIIDIV 
nitjid nittid 
nigjid Ibider 
niktid 
TEHSMDIV 
niexid 
nigfid Ibider 
nizid 
TEHECDIV 
niunid 
Afider 
nitaid 
TEHOHDIV 
nirsid 
TEHZEDIV 
‘h
TEHCCDIV 
ninyid 
Cuider 
nierid 
TEHIADIV 
Trider 
ni/r.sc/r.sc id 
TEHEUDIV 
niswid 
TEHIHDIV 
(A
nifid 
Ibider nirtid 
nirrid nirtid 
TEHPPDIV 
t:
niszid 
(V
TEHMSDIV 
TEHIMDIV 
Muider 
nizzid 
niexid "
);
}
