(
A,
Aacute,
Abreve,
Abreveacute,
Abrevedotbelow,
Abrevegrave,
Abrevehookabove,
Abrevetilde,
Acaron,
Acircumflex,
Acircumflexacute,
Acircumflexdotbelow,
Acircumflexgrave,
Acircumflexhookabove,
Acircumflextilde,
Adblgrave,
Adieresis,
Adieresismacron,
Adotaccent,
Adotbelow,
Adotmacron,
Agrave,
Ahookabove,
Ainvertedbreve,
"Alpha-latin",
Amacron,
Aogonek,
Aring,
Aringacute,
Aringbelow,
Astroke,
Atilde,
Aturned,
AE,
AEacute,
AEmacron,
B,
Bdotaccent,
Bdotbelow,
"Beta-latin",
Bhook,
Bmacronbelow,
Bstroke,
Btopbar,
C,
Cacute,
Cbar,
Ccaron,
Ccedilla,
Ccedillaacute,
Ccircumflex,
Cdotaccent,
"Chi-latin",
Chook,
Cstroke,
D,
DZ,
DZcaron,
Dcaron,
Dcedilla,
Dcircumflexbelow,
Dcroat,
Ddotaccent,
Ddotbelow,
Dhook,
Dmacronbelow,
Dtail,
Dtopbar,
Dz,
Dzcaron,
Eth,
E,
Eacute,
Ebreve,
Ecaron,
Ecedilla,
Ecedillabreve,
Ecircumflex,
Ecircumflexacute,
Ecircumflexbelow,
Ecircumflexdotbelow,
Ecircumflexgrave,
Ecircumflexhookabove,
Ecircumflextilde,
Edblgrave,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Ehookabove,
Einvertedbreve,
Emacron,
Emacronacute,
Emacrongrave,
Eogonek,
Eopen,
Eopenreversed,
Esh,
Estroke,
Etilde,
Etildebelow,
Eturned,
Schwa,
Ezh,
Ezhcaron,
Ezhreversed,
F,
Fdotaccent,
Fhook,
G,
Gacute,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Ghook,
Glottalstopsmall,
Gmacron,
Gstroke,
Yogh,
H,
Hbar,
Hbrevebelow,
Hcaron,
Hcedilla,
Hcircumflex,
Hdieresis,
Hdotaccent,
Hdotbelow,
Heng,
Hhook,
Hturned,
I,
IJ,
IJ_acutecomb,
Iacute,
Ibreve,
Icaron,
Icircumflex,
Idblgrave,
Idieresis,
Idieresisacute,
Idotaccent,
Idotbelow,
Igrave,
Ihookabove,
Iinvertedbreve,
Imacron,
Iogonek,
"Iota-latin",
Istroke,
Itilde,
Itildebelow,
J,
Jacute,
Jcircumflex,
Jcrossedtail,
Jstroke,
K,
Kacute,
Kcaron,
Kcommaaccent,
Kdotbelow,
Khook,
Kmacronbelow,
Kstroke,
L,
LJ,
Lacute,
Lbar,
Lbelt,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldot,
Ldotbelow,
Ldotbelowmacron,
Ldoublebar,
Lj,
Lmacronbelow,
Lmiddletilde,
Lslash,
M,
Macute,
Mdotaccent,
Mdotbelow,
Mhook,
Mturned,
N,
NJ,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ngrave,
Nhookleft,
Nj,
Nlongrightleg,
Nmacronbelow,
Ntilde,
Eng,
O,
OU,
Oacute,
Obarred,
Obreve,
Ocaron,
Ocircumflex,
Ocircumflexacute,
Ocircumflexdotbelow,
Ocircumflexgrave,
Ocircumflexhookabove,
Ocircumflextilde,
Odblgrave,
Odieresis,
Odieresismacron,
Odotaccent,
Odotaccentmacron,
Odotbelow,
Ograve,
Ohookabove,
Ohorn,
Ohornacute,
Ohorndotbelow,
Ohorngrave,
Ohornhookabove,
Ohorntilde,
Ohungarumlaut,
Oinvertedbreve,
Omacron,
Omacronacute,
Omacrongrave,
"Omega-latin",
Oogonek,
Oogonekmacron,
Oopen,
Oslash,
Oslashacute,
Otilde,
Otildeacute,
Otildedieresis,
Otildemacron,
OE,
P,
Pacute,
Pdotaccent,
Phook,
Thorn,
Pstroke,
Q,
Qhooktail,
R,
Racute,
Rcaron,
Rcommaaccent,
Rdblgrave,
Rdotaccent,
Rdotbelow,
Rdotbelowmacron,
Rinvertedbreve,
Rmacronbelow,
Rstroke,
Rtail,
S,
Sacute,
Sacutedotaccent,
Scaron,
Scarondotaccent,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotaccent,
Sdotbelow,
Sdotbelowdotaccent,
Germandbls,
Sobliquestroke,
T,
Tbar,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdiagonalstroke,
Tdotaccent,
Tdotbelow,
Thook,
Tmacronbelow,
Tretroflexhook,
U,
Uacute,
Ubar,
Ubreve,
Ucaron,
Ucircumflex,
Ucircumflexbelow,
Udblgrave,
Udieresis,
Udieresisacute,
Udieresisbelow,
Udieresiscaron,
Udieresisgrave,
Udieresismacron,
Udotbelow,
Ugrave,
Uhookabove,
Uhorn,
Uhornacute,
Uhorndotbelow,
Uhorngrave,
Uhornhookabove,
Uhorntilde,
Uhungarumlaut,
Uinvertedbreve,
Umacron,
Umacrondieresis,
Uogonek,
"Upsilon-latin",
Uring,
Utilde,
Utildeacute,
Utildebelow,
V,
"Gamma-latin",
Vdotbelow,
Vhook,
Vtilde,
Vturned,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wdotaccent,
Wdotbelow,
Wgrave,
Whook,
X,
Xdieresis,
Xdotaccent,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ydotaccent,
Ydotbelow,
Ygrave,
Yhook,
Yhookabove,
Ymacron,
Ystroke,
Ytilde,
Z,
Zacute,
Zcaron,
Zcircumflex,
Zdotaccent,
Zdotbelow,
Zmacronbelow,
Zstroke,
Saltillo,
glottalstopreversed.case,
Lcommaaccent.latnMAH,
Ncommaaccent.latnMAH,
Esh.localGAD,
Ezh.localGAD,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
Aogonek.loclNAV,
Eogonek.loclNAV,
Iogonek.loclNAV,
Oogonek.loclNAV,
Uogonek.loclNAV,
IJ.loclNLD,
Eng.loclNSM,
Cacute.loclPLK,
Nacute.loclPLK,
Oacute.loclPLK,
Sacute.loclPLK,
Zacute.loclPLK,
Vhook.loclTOD0,
Bhook.loclXPE,
I.uc,
Vhook.loclTOD0.ss01,
Dsmall,
Ismall,
Ismallstroke,
Nsmall,
Rsmall,
Usmallstroke,
a,
aacute,
abreve,
abreveacute,
abrevedotbelow,
abrevegrave,
abrevehookabove,
abrevetilde,
acaron,
acircumflex,
acircumflexacute,
acircumflexdotbelow,
acircumflexgrave,
acircumflexhookabove,
acircumflextilde,
adblgrave,
adieresis,
adieresismacron,
adotaccent,
adotbelow,
adotmacron,
agrave,
ahookabove,
ainvertedbreve,
"alpha-latin",
amacron,
aogonek,
arighthalfring,
aring,
aringacute,
aringbelow,
astroke,
atilde,
ae,
aeacute,
aemacron,
b,
bdotaccent,
bdotbelow,
"beta-latin",
bhook,
bilabialclick,
bmacronbelow,
bstroke,
btopbar,
c,
cacute,
cbar,
ccaron,
ccedilla,
ccedillaacute,
ccircumflex,
cdotaccent,
"chi-latin",
chook,
creversed,
cstroke,
d,
dcaron,
dcedilla,
dcircumflexbelow,
dcroat,
ddotaccent,
ddotbelow,
dhook,
dhookandtail,
dmacronbelow,
dtail,
dtopbar,
dz,
dzcaron,
eth,
e,
eacute,
ebreve,
ecaron,
ecedilla,
ecedillabreve,
ecircumflex,
ecircumflexacute,
ecircumflexbelow,
ecircumflexdotbelow,
ecircumflexgrave,
ecircumflexhookabove,
ecircumflextilde,
edblgrave,
edieresis,
edotaccent,
edotbelow,
egrave,
ehookabove,
einvertedbreve,
emacron,
emacronacute,
emacrongrave,
eogonek,
eopen,
eopenreversed,
ereversed,
esh,
estroke,
etilde,
etildebelow,
eturned,
schwa,
ezh,
ezhcaron,
ezhreversed,
f,
fdotaccent,
g,
gacute,
"gamma-latin",
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
ghook,
glottalstop,
glottalstopreversed,
glottalstopsmall,
gmacron,
gstroke,
yogh,
h,
hbar,
hbrevebelow,
hcaron,
hcedilla,
hcircumflex,
hdieresis,
hdotaccent,
hdotbelow,
heng,
hhook,
hmacronbelow,
hturned,
i,
idotless,
idotless_ogonek,
iacute,
ibreve,
icaron,
icircumflex,
idblgrave,
idieresis,
idieresisacute,
idotaccent,
idotbelow,
igrave,
ihookabove,
iinvertedbreve,
imacron,
iogonek,
"iota-latin",
istroke,
itilde,
itildebelow,
ij,
ij_acutecomb,
j,
jdotless,
jacute,
jcaron,
jcircumflex,
jcrossedtail,
jdotlessstroke,
jstroke,
k,
kacute,
kcaron,
kcommaaccent,
kdotbelow,
kgreenlandic,
khook,
kmacronbelow,
kstroke,
l,
lacute,
lambdastroke,
lbar,
lbelt,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldot,
ldotbelow,
ldotbelowmacron,
ldoublebar,
lj,
lmacronbelow,
lmiddletilde,
longsdotaccent,
lslash,
m,
macute,
mdotaccent,
mdotbelow,
mhook,
mturned,
n,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
ngrave,
nhookleft,
nj,
nlongrightleg,
nmacronbelow,
ntilde,
eng,
o,
oacute,
obarred,
obreve,
ocaron,
ocircumflex,
ocircumflexacute,
ocircumflexdotbelow,
ocircumflexgrave,
ocircumflexhookabove,
ocircumflextilde,
odblgrave,
odieresis,
odieresismacron,
odotaccent,
odotaccentmacron,
odotbelow,
ograve,
ohookabove,
ohorn,
ohornacute,
ohorndotbelow,
ohorngrave,
ohornhookabove,
ohorntilde,
ohungarumlaut,
oinvertedbreve,
omacron,
omacronacute,
omacrongrave,
"omega-latin",
oogonek,
oogonekmacron,
oopen,
oslash,
oslashacute,
otilde,
otildeacute,
otildedieresis,
otildemacron,
ou,
oe,
p,
pacute,
pdotaccent,
phook,
thorn,
pstroke,
q,
qhooktail,
r,
racute,
ramshorn,
rcaron,
rcommaaccent,
rdblgrave,
rdotaccent,
rdotbelow,
rdotbelowmacron,
rfishhook,
rinvertedbreve,
rmacronbelow,
rstroke,
rtail,
s,
sacute,
sacutedotaccent,
scaron,
scarondotaccent,
scedilla,
scircumflex,
scommaaccent,
sdotaccent,
sdotbelow,
sdotbelowdotaccent,
germandbls,
sobliquestroke,
longs,
t,
tbar,
tcaron,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdiagonalstroke,
tdieresis,
tdotaccent,
tdotbelow,
thook,
tmacronbelow,
tretroflexhook,
tturned,
u,
uacute,
ubar,
ubreve,
ucaron,
ucircumflex,
ucircumflexbelow,
udblgrave,
udieresis,
udieresisacute,
udieresisbelow,
udieresiscaron,
udieresisgrave,
udieresismacron,
udotbelow,
ugrave,
uhookabove,
uhorn,
uhornacute,
uhorndotbelow,
uhorngrave,
uhornhookabove,
uhorntilde,
uhungarumlaut,
uinvertedbreve,
umacron,
umacrondieresis,
uogonek,
"upsilon-latin",
uring,
utilde,
utildeacute,
utildebelow,
v,
vdotbelow,
vhook,
vtilde,
vturned,
w,
wacute,
wcircumflex,
wdieresis,
wdotaccent,
wdotbelow,
wgrave,
whook,
wring,
x,
xdieresis,
xdotaccent,
y,
yacute,
ycircumflex,
ydieresis,
ydotaccent,
ydotbelow,
ygrave,
yhook,
yhookabove,
ymacron,
yring,
ystroke,
ytilde,
yturned,
z,
zacute,
zcaron,
zcircumflex,
zdotaccent,
zdotbelow,
zmacronbelow,
zstroke,
saltillo,
i.dot,
istroke.dotless,
j.latnNLD,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
aogonek.loclNAV,
eogonek.loclNAV,
iogonek.loclNAV,
oogonek.loclNAV,
uogonek.loclNAV,
ij.loclNLD,
cacute.loclPLK,
nacute.loclPLK,
oacute.loclPLK,
sacute.loclPLK,
zacute.loclPLK,
vhook.loclTOD0,
idieresis.narrow,
vhook.loclTOD0.ss01,
fi,
fl,
rtail_part,
Eopenreversed.sc,
Ismall.sc,
Ismallstroke.sc,
Nsmall.sc,
Rsmall.sc,
Usmallstroke.sc,
a.sc,
aacute.sc,
abreve.sc,
abreveacute.sc,
abrevedotbelow.sc,
abrevegrave.sc,
abrevehookabove.sc,
abrevetilde.sc,
acaron.sc,
acircumflex.sc,
acircumflexacute.sc,
acircumflexdotbelow.sc,
acircumflexgrave.sc,
acircumflexhookabove.sc,
acircumflextilde.sc,
adblgrave.sc,
adieresis.sc,
adieresismacron.sc,
adotaccent.sc,
adotbelow.sc,
adotmacron.sc,
agrave.sc,
ahookabove.sc,
ainvertedbreve.sc,
"alpha-latin.sc",
amacron.sc,
aogonek.sc,
arighthalfring.sc,
aring.sc,
aringacute.sc,
aringbelow.sc,
astroke.sc,
atilde.sc,
aturned.sc,
ae.sc,
aeacute.sc,
aemacron.sc,
b.sc,
bdotaccent.sc,
bdotbelow.sc,
"beta-latin.sc",
bhook.sc,
bilabialclick.sc,
bmacronbelow.sc,
bstroke.sc,
btopbar.sc,
c.sc,
cacute.sc,
cbar.sc,
ccaron.sc,
ccedilla.sc,
ccedillaacute.sc,
ccircumflex.sc,
cdotaccent.sc,
"chi-latin.sc",
chook.sc,
creversed.sc,
cstroke.sc,
d.sc,
dcaron.sc,
dcedilla.sc,
dcircumflexbelow.sc,
dcroat.sc,
ddotaccent.sc,
ddotbelow.sc,
dhook.sc,
dhookandtail.sc,
dmacronbelow.sc,
dtail.sc,
dtopbar.sc,
dz.sc,
dzcaron.sc,
eth.sc,
e.sc,
eacute.sc,
ebreve.sc,
ecaron.sc,
ecedilla.sc,
ecedillabreve.sc,
ecircumflex.sc,
ecircumflexacute.sc,
ecircumflexbelow.sc,
ecircumflexdotbelow.sc,
ecircumflexgrave.sc,
ecircumflexhookabove.sc,
ecircumflextilde.sc,
edblgrave.sc,
edieresis.sc,
edotaccent.sc,
edotbelow.sc,
egrave.sc,
ehookabove.sc,
einvertedbreve.sc,
emacron.sc,
emacronacute.sc,
emacrongrave.sc,
eogonek.sc,
eopen.sc,
eopenreversed.sc,
ereversed.sc,
esh.sc,
estroke.sc,
etilde.sc,
etildebelow.sc,
eturned.sc,
schwa.sc,
ezh.sc,
ezhcaron.sc,
ezhreversed.sc,
f.sc,
fdotaccent.sc,
g.sc,
gacute.sc,
"gamma-latin.sc",
gbreve.sc,
gcaron.sc,
gcircumflex.sc,
gcommaaccent.sc,
gdotaccent.sc,
ghook.sc,
glottalstop.sc,
glottalstopreversed.sc,
glottalstopsmall.sc,
gmacron.sc,
gstroke.sc,
yogh.sc,
h.sc,
hbar.sc,
hbrevebelow.sc,
hcaron.sc,
hcedilla.sc,
hcircumflex.sc,
hdieresis.sc,
hdotaccent.sc,
hdotbelow.sc,
heng.sc,
hhook.sc,
hmacronbelow.sc,
hturned.sc,
i.sc,
idotless.sc,
idotless_ogonek.sc,
iacute.sc,
ibreve.sc,
icaron.sc,
icircumflex.sc,
idblgrave.sc,
idieresis.sc,
idieresisacute.sc,
idotaccent.sc,
idotbelow.sc,
igrave.sc,
ihookabove.sc,
iinvertedbreve.sc,
imacron.sc,
iogonek.sc,
"iota-latin.sc",
istroke.sc,
itilde.sc,
itildebelow.sc,
ij.sc,
ij_acutecomb.sc,
j.sc,
jdotless.sc,
jacute.sc,
jcaron.sc,
jcircumflex.sc,
jcrossedtail.sc,
jdotlessstroke.sc,
jstroke.sc,
k.sc,
kacute.sc,
kcaron.sc,
kcommaaccent.sc,
kdotbelow.sc,
kgreenlandic.sc,
khook.sc,
kmacronbelow.sc,
kstroke.sc,
l.sc,
lacute.sc,
lambdastroke.sc,
lbar.sc,
lbelt.sc,
lcaron.sc,
lcircumflexbelow.sc,
lcommaaccent.sc,
ldot.sc,
ldotbelow.sc,
ldotbelowmacron.sc,
ldoublebar.sc,
lj.sc,
lmacronbelow.sc,
lmiddletilde.sc,
longsdotaccent.sc,
lslash.sc,
m.sc,
macute.sc,
mdotaccent.sc,
mdotbelow.sc,
mhook.sc,
mturned.sc,
n.sc,
nacute.sc,
ncaron.sc,
ncircumflexbelow.sc,
ncommaaccent.sc,
ndotaccent.sc,
ndotbelow.sc,
ngrave.sc,
nhookleft.sc,
nj.sc,
nlongrightleg.sc,
nmacronbelow.sc,
ntilde.sc,
eng.sc,
o.sc,
oacute.sc,
obarred.sc,
obreve.sc,
ocaron.sc,
ocircumflex.sc,
ocircumflexacute.sc,
ocircumflexdotbelow.sc,
ocircumflexgrave.sc,
ocircumflexhookabove.sc,
ocircumflextilde.sc,
odblgrave.sc,
odieresis.sc,
odieresismacron.sc,
odotaccent.sc,
odotaccentmacron.sc,
odotbelow.sc,
ograve.sc,
ohookabove.sc,
ohorn.sc,
ohornacute.sc,
ohorndotbelow.sc,
ohorngrave.sc,
ohornhookabove.sc,
ohorntilde.sc,
ohungarumlaut.sc,
oinvertedbreve.sc,
omacron.sc,
omacronacute.sc,
omacrongrave.sc,
"omega-latin.sc",
oogonek.sc,
oogonekmacron.sc,
oopen.sc,
oslash.sc,
oslashacute.sc,
otilde.sc,
otildeacute.sc,
otildedieresis.sc,
otildemacron.sc,
ou.sc,
oe.sc,
p.sc,
pacute.sc,
pdotaccent.sc,
phook.sc,
thorn.sc,
pstroke.sc,
q.sc,
qhooktail.sc,
r.sc,
racute.sc,
ramshorn.sc,
rcaron.sc,
rcommaaccent.sc,
rdblgrave.sc,
rdotaccent.sc,
rdotbelow.sc,
rdotbelowmacron.sc,
rfishhook.sc,
rinvertedbreve.sc,
rmacronbelow.sc,
rstroke.sc,
rtail.sc,
s.sc,
sacute.sc,
sacutedotaccent.sc,
scaron.sc,
scarondotaccent.sc,
scedilla.sc,
scircumflex.sc,
scommaaccent.sc,
sdotaccent.sc,
sdotbelow.sc,
sdotbelowdotaccent.sc,
sobliquestroke.sc,
longs.sc,
t.sc,
tbar.sc,
tcaron.sc,
tcedilla.sc,
tcircumflexbelow.sc,
tcommaaccent.sc,
tdiagonalstroke.sc,
tdieresis.sc,
tdotaccent.sc,
tdotbelow.sc,
thook.sc,
tmacronbelow.sc,
tretroflexhook.sc,
tturned.sc,
u.sc,
uacute.sc,
ubar.sc,
ubreve.sc,
ucaron.sc,
ucircumflex.sc,
ucircumflexbelow.sc,
udblgrave.sc,
udieresis.sc,
udieresisacute.sc,
udieresisbelow.sc,
udieresiscaron.sc,
udieresisgrave.sc,
udieresismacron.sc,
udotbelow.sc,
ugrave.sc,
uhookabove.sc,
uhorn.sc,
uhornacute.sc,
uhorndotbelow.sc,
uhorngrave.sc,
uhornhookabove.sc,
uhorntilde.sc,
uhungarumlaut.sc,
uinvertedbreve.sc,
umacron.sc,
umacrondieresis.sc,
uogonek.sc,
"upsilon-latin.sc",
uring.sc,
utilde.sc,
utildeacute.sc,
utildebelow.sc,
v.sc,
vdotbelow.sc,
vhook.sc,
vtilde.sc,
vturned.sc,
w.sc,
wacute.sc,
wcircumflex.sc,
wdieresis.sc,
wdotaccent.sc,
wdotbelow.sc,
wgrave.sc,
whook.sc,
wring.sc,
x.sc,
xdieresis.sc,
xdotaccent.sc,
y.sc,
yacute.sc,
ycircumflex.sc,
ydieresis.sc,
ydotaccent.sc,
ydotbelow.sc,
ygrave.sc,
yhook.sc,
yhookabove.sc,
ymacron.sc,
yring.sc,
ystroke.sc,
ytilde.sc,
yturned.sc,
z.sc,
zacute.sc,
zcaron.sc,
zcircumflex.sc,
zdotaccent.sc,
zdotbelow.sc,
zmacronbelow.sc,
zstroke.sc,
saltillo.sc,
i.dot.sc,
istroke.dotless.sc,
esh.localGAD.sc,
ezh.localGAD.sc,
lcommaaccent.loclMAH.sc,
ncommaaccent.loclMAH.sc,
aogonek.loclNAV.sc,
eogonek.loclNAV.sc,
iogonek.loclNAV.sc,
oogonek.loclNAV.sc,
uogonek.loclNAV.sc,
eng.loclNSM.sc,
vhook.loclTOD0.sc,
bhook.loclXPE.sc,
i.uc.sc,
vhook.loclTOD0.sc.ss01,
f_f.sc,
f_f_i.sc,
f_f_l.sc,
fi.sc,
fl.sc,
rtail_part.sc,
germandbls.sc,
ordfeminine,
ordmasculine,
clickalveolar,
clickdental,
clicklateral,
clickretroflex,
hmod,
imod,
nmod,
wmod,
ymod,
imod.dotless,
"A-cy",
"Be-cy",
"Ve-cy",
"Ge-cy",
"Gje-cy",
"Geupturn-cy",
"Gedescender-cy",
"Gestroke-cy",
"Gemiddlehook-cy",
"De-cy",
"Ie-cy",
"Iegrave-cy",
"Io-cy",
"Zhe-cy",
"Ze-cy",
"Ii-cy",
"Iishort-cy",
"Iigrave-cy",
"Iishorttail-cy",
"Ka-cy",
"Kje-cy",
"El-cy",
"Em-cy",
"En-cy",
"O-cy",
"Pe-cy",
"Er-cy",
"Es-cy",
"Te-cy",
"U-cy",
"Ushort-cy",
"Ef-cy",
"Ha-cy",
"Che-cy",
"Tse-cy",
"Sha-cy",
"Shcha-cy",
"Dzhe-cy",
"Softsign-cy",
"Yeru-cy",
"Hardsign-cy",
"Lje-cy",
"Nje-cy",
"Dze-cy",
"E-cy",
"Ereversed-cy",
"I-cy",
"Yi-cy",
"Je-cy",
"Tshe-cy",
"Yu-cy",
"Ya-cy",
"Dje-cy",
"Omega-cy",
"Yat-cy",
"Eiotified-cy",
"Yuslittle-cy",
"Yuslittleiotified-cy",
"Yusbig-cy",
"Yusbigiotified-cy",
"Ksi-cy",
"Fita-cy",
"Izhitsa-cy",
"Izhitsadblgrave-cy",
"Uk-cy",
"Zhedescender-cy",
"Zedescender-cy",
"Kadescender-cy",
"Kaverticalstroke-cy",
"Kastroke-cy",
"Kabashkir-cy",
"Endescender-cy",
"EnGe-cy",
"Pemiddlehook-cy",
"Pedescender-cy",
"Haabkhasian-cy",
"Esdescender-cy",
"Tedescender-cy",
"Ustraight-cy",
"Ustraightstroke-cy",
"Hadescender-cy",
"Tetse-cy",
"Chedescender-cy",
"Cheverticalstroke-cy",
"Shha-cy",
"Shhadescender-cy",
"Cheabkhasian-cy",
"Chedescenderabkhasian-cy",
"Palochka-cy",
"Zhebreve-cy",
"Kahook-cy",
"Eltail-cy",
"Enhook-cy",
"Entail-cy",
"Chekhakassian-cy",
"Emtail-cy",
"Abreve-cy",
"Adieresis-cy",
"Aie-cy",
"Iebreve-cy",
"Schwa-cy",
"Schwadieresis-cy",
"Zhedieresis-cy",
"Zedieresis-cy",
"Dzeabkhasian-cy",
"Imacron-cy",
"Idieresis-cy",
"Odieresis-cy",
"Obarred-cy",
"Obarreddieresis-cy",
"Edieresis-cy",
"Umacron-cy",
"Udieresis-cy",
"Uhungarumlaut-cy",
"Chedieresis-cy",
"Yerudieresis-cy",
"Gestrokehook-cy",
"Hahook-cy",
"Hastroke-cy",
"Komide-cy",
"Komidje-cy",
"Komizje-cy",
"Komidzje-cy",
"Komilje-cy",
"Kominje-cy",
"Komisje-cy",
"Komitje-cy",
"Reversedze-cy",
"Elhook-cy",
"Qa-cy",
"We-cy",
"Koppa-cy",
"Semisoftsign-cy",
"Ertick-cy",
"EnLeftHook-cy",
"Eldescender-cy",
"De-cy.loclBGR",
"Ii-cy.loclBGR",
"Iishort-cy.loclBGR",
"Iigrave-cy.loclBGR",
"Kje-cy.loclBGR",
"El-cy.loclBGR",
"Ef-cy.loclBGR",
"Zhebreve-cy.loclBGR",
"Gestroke-cy.loclBSH",
"Zedescender-cy.loclBSH",
"Esdescender-cy.loclBSH",
"Esdescender-cy.loclCHU",
"a-cy",
"be-cy",
"ve-cy",
"ge-cy",
"gje-cy",
"geupturn-cy",
"gedescender-cy",
"gestroke-cy",
"gemiddlehook-cy",
"de-cy",
"ie-cy",
"iegrave-cy",
"io-cy",
"zhe-cy",
"ze-cy",
"ii-cy",
"iishort-cy",
"iigrave-cy",
"iishorttail-cy",
"ka-cy",
"kje-cy",
"el-cy",
"em-cy",
"en-cy",
"o-cy",
"pe-cy",
"er-cy",
"es-cy",
"te-cy",
"u-cy",
"ushort-cy",
"ef-cy",
"ha-cy",
"che-cy",
"tse-cy",
"sha-cy",
"shcha-cy",
"dzhe-cy",
"softsign-cy",
"yeru-cy",
"hardsign-cy",
"lje-cy",
"nje-cy",
"dze-cy",
"e-cy",
"ereversed-cy",
"i-cy",
"yi-cy",
"je-cy",
"tshe-cy",
"yu-cy",
"ya-cy",
"dje-cy",
"yat-cy",
"eiotified-cy",
"yuslittle-cy",
"yuslittleiotified-cy",
"yusbig-cy",
"yusbigiotified-cy",
"ksi-cy",
"fita-cy",
"izhitsa-cy",
"izhitsadblgrave-cy",
"uk-cy",
"zhedescender-cy",
"zedescender-cy",
"kadescender-cy",
"kaverticalstroke-cy",
"kastroke-cy",
"kabashkir-cy",
"endescender-cy",
"enge-cy",
"pedescender-cy",
"pemiddlehook-cy",
"haabkhasian-cy",
"esdescender-cy",
"tedescender-cy",
"ustraight-cy",
"ustraightstroke-cy",
"hadescender-cy",
"tetse-cy",
"chedescender-cy",
"cheverticalstroke-cy",
"shha-cy",
"shhadescender-cy",
"cheabkhasian-cy",
"chedescenderabkhasian-cy",
"palochka-cy",
"zhebreve-cy",
"kahook-cy",
"eltail-cy",
"enhook-cy",
"entail-cy",
"chekhakassian-cy",
"emtail-cy",
"abreve-cy",
"adieresis-cy",
"aie-cy",
"iebreve-cy",
"schwa-cy",
"schwadieresis-cy",
"zhedieresis-cy",
"zedieresis-cy",
"dzeabkhasian-cy",
"imacron-cy",
"idieresis-cy",
"odieresis-cy",
"obarred-cy",
"obarreddieresis-cy",
"edieresis-cy",
"umacron-cy",
"udieresis-cy",
"uhungarumlaut-cy",
"chedieresis-cy",
"yerudieresis-cy",
"gestrokehook-cy",
"hahook-cy",
"hastroke-cy",
"komide-cy",
"komidje-cy",
"komizje-cy",
"komidzje-cy",
"komilje-cy",
"kominje-cy",
"komisje-cy",
"komitje-cy",
"reversedze-cy",
"elhook-cy",
"qa-cy",
"we-cy",
"koppa-cy",
"semisoftsign-cy",
"ertick-cy",
"enlefthook-cy",
"eldescender-cy",
"ve-cy.loclBGR",
"ge-cy.loclBGR",
"de-cy.loclBGR",
"zhe-cy.loclBGR",
"ze-cy.loclBGR",
"ii-cy.loclBGR",
"iishort-cy.loclBGR",
"iigrave-cy.loclBGR",
"ka-cy.loclBGR",
"el-cy.loclBGR",
"en-cy.loclBGR",
"pe-cy.loclBGR",
"te-cy.loclBGR",
"ef-cy.loclBGR",
"che-cy.loclBGR",
"tse-cy.loclBGR",
"sha-cy.loclBGR",
"shcha-cy.loclBGR",
"softsign-cy.loclBGR",
"hardsign-cy.loclBGR",
"yu-cy.loclBGR",
"gestroke-cy.loclBSH",
"zedescender-cy.loclBSH",
"esdescender-cy.loclBSH",
"esdescender-cy.loclCHU",
"gje-cy.loclMKD",
"be-cy.loclSRB",
"ge-cy.loclSRB",
"pe-cy.loclSRB",
"yi-cy.narrow",
"a-cy.sc",
"be-cy.sc",
"ve-cy.sc",
"ge-cy.sc",
"gje-cy.sc",
"geupturn-cy.sc",
"gedescender-cy.sc",
"gestroke-cy.sc",
"gemiddlehook-cy.sc",
"de-cy.sc",
"ie-cy.sc",
"iegrave-cy.sc",
"io-cy.sc",
"zhe-cy.sc",
"ze-cy.sc",
"ii-cy.sc",
"iishort-cy.sc",
"iigrave-cy.sc",
"iishorttail-cy.sc",
"ka-cy.sc",
"kje-cy.sc",
"el-cy.sc",
"em-cy.sc",
"en-cy.sc",
"o-cy.sc",
"pe-cy.sc",
"er-cy.sc",
"es-cy.sc",
"te-cy.sc",
"u-cy.sc",
"ushort-cy.sc",
"ef-cy.sc",
"ha-cy.sc",
"che-cy.sc",
"tse-cy.sc",
"sha-cy.sc",
"shcha-cy.sc",
"dzhe-cy.sc",
"softsign-cy.sc",
"yeru-cy.sc",
"hardsign-cy.sc",
"lje-cy.sc",
"nje-cy.sc",
"dze-cy.sc",
"e-cy.sc",
"ereversed-cy.sc",
"i-cy.sc",
"yi-cy.sc",
"je-cy.sc",
"tshe-cy.sc",
"yu-cy.sc",
"ya-cy.sc",
"dje-cy.sc",
"yat-cy.sc",
"eiotified-cy.sc",
"yuslittle-cy.sc",
"yuslittleiotified-cy.sc",
"yusbig-cy.sc",
"yusbigiotified-cy.sc",
"ksi-cy.sc",
"fita-cy.sc",
"izhitsa-cy.sc",
"izhitsadblgrave-cy.sc",
"uk-cy.sc",
"zhedescender-cy.sc",
"zedescender-cy.sc",
"kadescender-cy.sc",
"kaverticalstroke-cy.sc",
"kastroke-cy.sc",
"kabashkir-cy.sc",
"endescender-cy.sc",
"enge-cy.sc",
"pedescender-cy.sc",
"pemiddlehook-cy.sc",
"haabkhasian-cy.sc",
"esdescender-cy.sc",
"tedescender-cy.sc",
"ustraight-cy.sc",
"ustraightstroke-cy.sc",
"hadescender-cy.sc",
"tetse-cy.sc",
"chedescender-cy.sc",
"cheverticalstroke-cy.sc",
"shhadescender-cy.sc",
"shha-cy.sc",
"cheabkhasian-cy.sc",
"chedescenderabkhasian-cy.sc",
"palochka-cy.sc",
"zhebreve-cy.sc",
"kahook-cy.sc",
"eltail-cy.sc",
"enhook-cy.sc",
"entail-cy.sc",
"chekhakassian-cy.sc",
"emtail-cy.sc",
"abreve-cy.sc",
"adieresis-cy.sc",
"aie-cy.sc",
"iebreve-cy.sc",
"schwa-cy.sc",
"schwadieresis-cy.sc",
"zhedieresis-cy.sc",
"zedieresis-cy.sc",
"dzeabkhasian-cy.sc",
"imacron-cy.sc",
"idieresis-cy.sc",
"odieresis-cy.sc",
"obarred-cy.sc",
"obarreddieresis-cy.sc",
"edieresis-cy.sc",
"umacron-cy.sc",
"udieresis-cy.sc",
"uhungarumlaut-cy.sc",
"chedieresis-cy.sc",
"yerudieresis-cy.sc",
"gestrokehook-cy.sc",
"hahook-cy.sc",
"hastroke-cy.sc",
"komide-cy.sc",
"komidje-cy.sc",
"komizje-cy.sc",
"komidzje-cy.sc",
"komilje-cy.sc",
"kominje-cy.sc",
"komisje-cy.sc",
"komitje-cy.sc",
"reversedze-cy.sc",
"elhook-cy.sc",
"qa-cy.sc",
"we-cy.sc",
"koppa-cy.sc",
"semisoftsign-cy.sc",
"ertick-cy.sc",
"omegaBroad-cy.sc",
"enlefthook-cy.sc",
"eldescender-cy.sc",
"ii-cy.l.sc",
"ve-cy.loclBGR.sc",
"ge-cy.loclBGR.sc",
"de-cy.loclBGR.sc",
"zhe-cy.loclBGR.sc",
"ze-cy.loclBGR.sc",
"ii-cy.loclBGR.sc",
"iishort-cy.loclBGR.sc",
"iigrave-cy.loclBGR.sc",
"ka-cy.loclBGR.sc",
"el-cy.loclBGR.sc",
"en-cy.loclBGR.sc",
"pe-cy.loclBGR.sc",
"te-cy.loclBGR.sc",
"ef-cy.loclBGR.sc",
"che-cy.loclBGR.sc",
"tse-cy.loclBGR.sc",
"sha-cy.loclBGR.sc",
"shcha-cy.loclBGR.sc",
"softsign-cy.loclBGR.sc",
"hardsign-cy.loclBGR.sc",
"yu-cy.loclBGR.sc",
"gestroke-cy.loclBSH.sc",
"zedescender-cy.loclBSH.sc",
"esdescender-cy.loclBSH.sc",
"esdescender-cy.loclCHU.sc",
"gje-cy.loclMKD.sc",
"be-cy.loclSRB.sc",
"ge-cy.loclSRB.sc",
"pe-cy.loclSRB.sc",
"modifierhardsign-cy",
"modifiersoftsign-cy",
Nmod,
amod,
dothorizontalbarmod,
dotslashmod,
dotverticalbarmod,
eOpenmod,
emod,
gmod,
istrokemod,
lowerrightcorneranglemod,
oOpenmod,
omod,
thetamod,
ubarmod,
umod,
vmod,
zmod,
istrokemod.dotless,
"Onehundredreversed-roman",
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.zero,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.sc,
one.sc,
two.sc,
three.sc,
four.sc,
five.sc,
six.sc,
seven.sc,
eight.sc,
nine.sc,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zero.lf.zero,
zero.osf.zero,
zero.sc.zero,
zero.tf.zero,
zero.tosf.zero,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onethird,
twothirds,
onequarter,
threequarters,
onefifth,
twofifths,
fourfifths,
onesixth,
fivesixths,
oneseventh,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
oneninth,
onetenth,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
narrownbspace,
.notdef,
anoteleia,
questiongreek,
"leftanglebracket-math",
"rightanglebracket-math",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
asterism,
dblverticalbar,
dittomark,
etTironian,
exclamdouble,
hyphenationpoint,
numbersign,
slash,
backslash,
triangularbullet,
turneddagger,
exclamdown.case,
questiondown.case,
periodcentered.case,
bullet.case,
slash.case,
backslash.case,
periodcentered.loclCAT,
exclam.sc,
exclamdown.sc,
question.sc,
questiondown.sc,
question.ss01,
questiondown.ss01,
periodcentered.loclCAT.case,
questiondown.ss01.case,
question.ss01.sc,
questiondown.ss01.sc,
hyphen,
endash,
emdash,
doubleobliquehyphen,
figuredash,
horizontalbar,
hyphentwo,
nonbreakinghyphen,
underscore,
hyphen.case,
softhyphen.case,
endash.case,
emdash.case,
figuredash.case,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
parenleft.case,
parenright.case,
braceleft.case,
braceright.case,
bracketleft.case,
bracketright.case,
parenleft.sc,
parenright.sc,
braceleft.sc,
braceright.sc,
bracketleft.sc,
bracketright.sc,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
quotereversed,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
tripleprime,
quotedbl,
quotesingle,
quoteright.001,
guillemetleft.case,
guillemetright.case,
guilsinglleft.case,
guilsinglright.case,
quotesinglbase.ss01,
quotedblbase.ss01,
quotedblleft.ss01,
quotedblright.ss01,
quoteleft.ss01,
quoteright.ss01,
quotereversed.ss01,
florin,
"thousand-cy",
"numeral-greek",
"lowernumeral-greek",
"dram-arm",
baht,
beginlowtonemod,
colonmod,
doubleapostrophemod,
endlowtonemod,
minusmod,
shortequalmod,
voicingmod,
ballotBoxWithCheck,
ballotBoxWithX,
heartWhiteSuit,
heartBlackSuit,
accountof,
addressedtothesubject,
at,
ampersand,
paragraph,
section,
copyright,
registered,
published,
trademark,
careof,
degree,
minute,
second,
bar,
brokenbar,
literSign,
dagger,
daggerdbl,
estimated,
numero,
blackDownEquilateralArrowhead,
blackLargeSquare,
blackLeftEquilateralArrowhead,
blackRightEquilateralArrowhead,
blackUpEquilateralArrowhead,
cadauna,
threeDLeftLightedDownEquilateralArrowhead,
threeDRightLightedUpEquilateralArrowhead,
threeDTopLightedLeftEquilateralArrowhead,
threeDTopLightedRightEquilateralArrowhead,
viewdataSquare,
whiteLargeSquare,
at.case,
bar.case,
brokenbar.case,
ampersand.sc,
paragraph.sc,
section.sc,
degree.sc,
bar.sc,
brokenbar.sc,
dagger.sc,
daggerdbl.sc,
A.circled,
a.circled,
at.case.sc,
bitcoin,
cedi,
cent,
colonsign,
cruzeiro,
currency,
dollar,
dong,
euro,
franc,
guarani,
hryvnia,
kip,
lari,
lira,
liraTurkish,
manat,
mill,
naira,
peseta,
peso,
ruble,
rupee,
rupeeIndian,
sheqel,
sterling,
tenge,
tugrik,
won,
yen,
dollar.ss01,
YturnedSansSerif,
bulletoperator,
commercialMinusSign,
divisionslash,
greateroverequal,
lessoverequal,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
asciitilde,
logicalnot,
asciicircum,
emptyset,
infinity,
integral,
Ohm,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
ratio,
plus.case,
minus.case,
multiply.case,
divide.case,
equal.case,
notequal.case,
greater.case,
less.case,
greaterequal.case,
lessequal.case,
plusminus.case,
approxequal.case,
asciitilde.case,
logicalnot.case,
emptyset.case,
infinity.case,
ratio.case,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
upBlackArrow,
northEastBlackArrow,
southEastBlackArrow,
downBlackArrow,
southWestBlackArrow,
leftBlackArrow,
northWestBlackArrow,
rightTriangleBlackArrow,
blackCircle,
whiteCircle,
dottedCircle,
fisheye,
whiteBullet,
blackDiamond,
whiteDiamond,
lozenge,
blackSquare,
whiteSquare,
blackSmallSquare,
whiteSmallSquare,
mediumBlackSquare,
upBlackTriangle,
rightBlackTriangle,
downBlackTriangle,
leftBlackTriangle,
upWhiteTriangle,
rightWhiteTriangle,
downWhiteTriangle,
leftWhiteTriangle,
upBlackSmallTriangle,
rightBlackSmallTriangle,
downBlackSmallTriangle,
leftBlackSmallTriangle,
upWhiteSmallTriangle,
rightWhiteSmallTriangle,
downWhiteSmallTriangle,
leftWhiteSmallTriangle,
rbelowcomb,
"hundredthousandssigncomb-cy",
"millionssigncomb-cy",
"brevecomb-cy",
"efcomb-cy",
"kavykacomb-cy",
"brevecomb-cy.case",
perispomenicomb,
koroniscomb,
dialytikatonoscomb,
ypogegrammenicomb,
perispomenicomb.Por,
perispomenicomb.case,
dieresiscomb,
dieresiscomb_gravecomb,
dieresiscomb_acutecomb,
dieresiscomb_caroncomb,
dieresiscomb_macroncomb,
dotaccentcomb,
dotaccentcomb_macroncomb,
gravecomb,
gravecomb_macroncomb,
gravecomb_dotaboverightcomb,
acutecomb,
acutecomb_dotaccentcomb,
acutecomb_macroncomb,
acutecomb_dotaboverightcomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
circumflexcomb_dotaboverightcomb,
caroncomb,
caroncomb_dotaccentcomb,
brevecomb,
brevecomb_dotaboverightcomb,
ringcomb,
tildecomb,
tildecomb_dieresiscomb,
tildecomb_acutecomb,
tildecomb_macroncomb,
macroncomb,
macroncomb_dieresiscomb,
macroncomb_gravecomb,
macroncomb_acutecomb,
macroncomb_dotaboverightcomb,
hookabovecomb,
verticallineabovecomb,
verticallineabovecomb_dotaboverightcomb,
dblgravecomb,
candraBinducomb,
breveinvertedcomb,
commaturnedabovecomb,
commaabovecomb,
commaaboverightcomb,
horncomb,
minusbelowcomb,
dotbelowcomb,
dieresisbelowcomb,
ringbelowcomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
verticallinebelowcomb,
circumflexbelowcomb,
brevebelowcomb,
breveinvertedbelowcomb,
tildebelowcomb,
macronbelowcomb,
lowlinecomb,
tildeoverlaycomb,
strokeshortcomb,
strokelongcomb,
slashshortcomb,
slashlongcomb,
dotaboverightcomb,
doublebrevebelowcomb,
doublebrevecomb,
doublemacronbelowcomb,
breveinverteddoublecomb,
arrowdoublerightbelowcomb,
acutegraveacutecomb,
acutemacroncomb,
brevecomb_acutecomb,
brevecomb_gravecomb,
brevecomb_hookabovecomb,
brevecomb_tildecomb,
circumflexcomb_acutecomb,
circumflexcomb_gravecomb,
circumflexcomb_hookabovecomb,
circumflexcomb_tildecomb,
graveacutegravecomb,
gravemacroncomb,
macronacutecomb,
macrongravecomb,
dieresiscomb.case,
dieresiscomb_gravecomb.case,
dieresiscomb_acutecomb.case,
dieresiscomb_caroncomb.case,
dieresiscomb_macroncomb.case,
dotaccentcomb.case,
dotaccentcomb_macroncomb.case,
gravecomb.case,
gravecomb_macroncomb.case,
acutecomb.case,
acutecomb_dotaccentcomb.case,
acutecomb_macroncomb.case,
hungarumlautcomb.case,
circumflexcomb.case,
circumflexcomb_gravecomb.case,
circumflexcomb_acutecomb.case,
circumflexcomb_tildecomb.case,
circumflexcomb_hookabovecomb.case,
caroncomb.case,
caroncomb_dotaccentcomb.case,
brevecomb.case,
brevecomb_gravecomb.case,
brevecomb_acutecomb.case,
brevecomb_tildecomb.case,
brevecomb_hookabovecomb.case,
ringcomb.case,
tildecomb.case,
tildecomb_dieresiscomb.case,
tildecomb_acutecomb.case,
tildecomb_macroncomb.case,
macroncomb.case,
macroncomb_dieresiscomb.case,
macroncomb_gravecomb.case,
macroncomb_acutecomb.case,
hookabovecomb.case,
verticallineabovecomb.case,
dblgravecomb.case,
breveinvertedcomb.case,
commaturnedabovecomb.case,
horncomb.case,
dotbelowcomb.case,
dieresisbelowcomb.case,
ringbelowcomb.case,
commaaccentcomb.case,
cedillacomb.case,
ogonekcomb.case,
circumflexbelowcomb.case,
brevebelowcomb.case,
tildebelowcomb.case,
macronbelowcomb.case,
brevecomb.greek,
ogonekcomb.loclNAV,
brevecomb.narrow,
dieresiscomb_gravecomb.case.001,
dieresiscomb_acutecomb.case.001,
dieresiscomb.case.001,
brevecomb.greek.case,
brevecomb.narrow.case,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
firsttonechinese,
secondtonechinese,
caron,
fourthtonechinese,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
caron.alt,
dieresis.narrow,
grave.narrow,
acute.narrow,
circumflex.narrow,
tilde.narrow,
macron.narrow,
ogonek.narrow,
dieresis.narrow.case,
circumflex.narrow.case,
tilde.narrow.case,
apostrophemod,
commareversedmod,
commaturnedmod,
doubleprimemod,
glottalstopmod,
glottalstopreversedmod,
primemod,
ringhalfleft,
ringhalfright,
verticallinelowmod,
verticallinemod,
uniA7AE,
uniA7C7,
uniA7C8,
uniA7CB,
uniA7AE.sc,
uniA7C8.sc,
"BSHdescender-cy",
ringacutecomb,
u1d53,
CapLslash_part.,
Ibar_part.,
Tzbar_part.,
UCslash_part.Cstroke,
UCstrokecomb_part.,
ascenderbar_part.,
ascenderhalfbar_part.,
belt_part.,
btmstrokecomb_part.,
capbar_part.,
caplongbar_part.,
dafrican.sc,
dbar_part.,
fhook.sc,
lcslash_part.,
midbar_part.,
modbar_part.,
ocenteredtilde.sc,
"omegabroad-cy.sc",
ringacute.case,
shortbar_part.,
strokecomb_part.,
strokecombmiddle_part.,
topstrokecomb_part.,
upsilonafrican.sc,
belt_part..001,
cy.i_part.,
"dieresis-cy",
slashocomb,
Decy_part.,
UCEslash_part.,
UCslash_part.,
Yuslittlecy_part.,
_Bhook.part,
_BhookSC.part,
_Dhook.part,
_Hhook.part,
_HhookSC.part,
_Phook.part,
_PhookSC.part,
_UChooktop.part,
_dhookSC.part,
_dot.part,
_hook.part,
_hooktop.part,
descender_part.,
"dieresis-cy.case",
ertick_part.,
fita_part.,
glongbar_part.,
lefttooth_part.,
old.estimated,
qtail.case,
qtail.sc,
righttooth_part.,
slashocomb.case,
slashocomb.sc,
thetabar_part.
)