{
displayStrings = (
"000102030405060708090

123456789012345678
901234567890123456
789012345678901234
567890123456789012
345678901234567890
123456789012345678

nonnoononooonnnooonn
000 101 202 303 404 505 606 707 808 909 101    
010 111 212 313 414 515 616 717 818 919 202
020 121 222 323 424 525 626 727 828 929 303   
030 131 232 333 434 535 636 737 838 939 404 
040 141 242 343 444 545 646 747 848 949 505  
050 151 252 353 454 555 656 757 858 959 606 
060 161 262 363 464 565 666 767 868 969 707  
070 171 272 373 474 575 676 777 878 979 808 
080 181 282 383 484 585 686 787 888 989 909
090 191 292 393 494 595 696 797 898 999 000
42/zero.sc/zero.sc 
0/three.osf/three.osf 00
41
niooid nieuid 
Fider TEHSODIV 
niawid Chider 
Asider Chider 
niawid Thider 
Twider TEHIXDIV 
nieid nicid 
niazid nizid 
niuuid ninnid 
nicid niaoid 
nillid Ulider 
nireid niktid 
nixuid ninnid 
TEHAHDIV TEHMHDIV 
nintid 
Ibider TEHDIV 
niwaid niggid 
nixuid niyzid 
TEHDSDIV TEOHOODIV 
TEHGUDIV TEHDSDIV 
72
42",
"ie
oo
iz
",
"'s
Or
HH
tb
SE
HS

TEHGEDIV TEHOODIV 
TEHCHDIV TEHOODIV 
/four.osf/two.osf nirwid 
nizid niazid 
TEHIIDIV TEHHDIV 
TEHZEDIV TEHOODIV 
niaxid niwid 
TEHFODIV TEHSDIV ",
"rf
HO
OH

niaid nielid 
42
‘h
d:
ni/fi.sc/a.sc id 
72",
"AT
LT
RV
RY
VA
Aw
Va
To
Un
d:
e?
42
(C
's
d'
‘h
-т
r-
-C
-T
-Ч
–H
/seven.osf/two.osf 
/four.osf/two.osf 

RT
/fi.sc/j.sc 
u!
72
A.
dj

AS
CA
CH
DS
EC
EH
ES
ET
EV
EX
FO
FU
GA
GE
GU
HD
HF
HH
HO
HS
HT
II
JU
KH
LA
MH
MY
OD
OH
OO
PP
PU
SD
SE
SO
ST
TD
TO
UH
VO
VV
XX
YE
ZE
Da
Fr
Ka
Kr
Or
Pr
Ra
Sw
Tw
Ch
Ib
Kh
Th
As
En
No
Al
Bl
Ci
Cl
Fi
Fl
Gl
Ni
Of
Ul
aa
aw
ax
cc
cu
re
rr
ru
rw
uu
wa
we
xu
ab
rb
rk
rp
up
wh
ao
as
az
cn
rz
ws
ci
el
wi
/fi.sc/a.sc 
T/h.sc 
M3
(J
gu
ke
tu
tw
gg
kt
tb
tg
tt
ts
tz
gi
gj
ki
ti
na
sw
og
nn
on
oo
ni
oi
si
fa
ia
ic
fb
ft
yg
fs
iz
yz
ff
li
ll

ninaid niaid 
niooid nicnid nicid 
nikid niazid 
nicuid nicid 
niruid nikid ",
"rf
aa

TEHRTDIV TEHOODIV 
H!
Isidero?
ni/fi.sc/s.sc id ",
"/one.osf/zero.osf 
/six.osf/one.osf 
/five.osf/five.osf 
/eight.osf/three.osf 
/four.sc/three.sc 
/three.sc/three.sc 
/eight.sc/three.sc 
/zero.sc/three.sc 
/six.sc/three.sc 
/four.sc/five.sc 
/five.sc/five.sc 
/zero.sc/six.sc 
/one.osf/one.osf 
/six.sc/five.sc 
/two.sc/three.sc 
tb
/four.osf/three.osf 
/three.osf/one.osf 
we

/three.osf/three.osf TEHTODIV 
/four.osf/nine.osf TEHRVDIV 
/four.sc/one.sc/four.sc/zero.sc 
Cider Chider 
y.
/four.osf/two.osf nirwid 
/four.osf/two.osf nirwid 
/four.osf/five.osf TEHUMDIV 
/four.osf/three.osf TEHRTDIV 
nixuid niazid 
/four.osf/three.osf TEHRTDIV ",
"/one.osf/three.osf 
/four.osf/three.osf 

/four.osf/five.osf TEHRYDIV 
/four.osf/two.osf niruid 
/four.osf/two.osf niruid 
/four.osf/two.osf nirwid 
nisid niooid 
/four.osf/five.osf TEHUMDIV 
‘h
97
«С
nitaid ",
"AT
LT
RT
RV
RY
VA
Aw
Va
To
Un
d:
e?
o?
42
(C
y.
's
d'
‘h
-т
r-
-C
-T
-Ч
–H
/seven.osf/two.osf 
/four.osf/two.osf 

Is
/fi.sc/j.sc 
u!
72
A.
dj

AS
CA
CH
DS
EC
EH
ES
ET
EV
EX
FO
FU
GA
GE
GU
HD
HF
HH
HO
HS
HT
II
JU
KH
LA
MH
MY
OD
OH
OO
PP
PU
SD
SE
SO
ST
TD
TO
UH
VO
VV
XX
YE
ZE
Da
Fr
Ka
Kr
Or
Pr
Ra
Sw
Tw
Ch
Ib
Kh
Th
As
En
No
Al
Bl
Ci
Cl
Fi
Fl
Gl
Ni
Of
Ul
aa
aw
ax
cc
cu
re
rr
ru
rw
uu
wa
we
xu
ab
rb
rk
rp
up
wh
ao
as
az
cn
rz
ws
ci
el
rf
wi
/fi.sc/a.sc 
/fi.sc/s.sc 
T/h.sc 
H!
M3
(J
gu
ke
tu
tw
gg
kt
tb
tg
tt
ts
tz
gi
gj
ki
ti
na
sw
og
nn
on
oo
ni
oi
si
fa
ia
ic
fb
ft
yg
fs
iz
yz
ff
li
ll
"
);
}
