{
displayStrings = (
"℀
/ptick_part. 
/slashocomb.case 
/lcslash_part. 
/slashocomb.sc 
đ
Ƙ
Ƴ
/caron.alt 
/caroncomb.alt 
Ⱳ
∙
/periodcentered.loclCAT.case 
/periodcentered.case 
.
‧
·
/periodcentered.loclCAT 
/horncomb.case 
^
/grave.narrow 
̀
ˋ
`
/gravecomb.case 
̧
Ɑ
/ogonekcomb.loclNAV 
ꚞ
/ef-cy.loclBGR.sc 
/brevecomb_acutecomb 
ы
̦
/commaaccentcomb.loclMAH 
ⱳ
/ogonekcomb.case 
˛
̨
ʘ
ȧ
֏
/four.sc 
/acutecomb.case 
/vturned.sc 
/ringacute.case 
/rtail_part 
/rtail_part.sc 
⁊
/v.sc 
¸
/ef-cy.sc 
←
/gmacron.sc 
Ɍ
→
↓
↑
↘
↖
↙
↗
Ф
̸
₼
̑
/hook_cy.part 
/lefttooth_part. 
/aturned.sc 
/oopen.sc 
/koppa-cy.sc 
/a-cy.sc 
/a.sc 
/four.numr 
₄
/four.dnom 
⁴
с
c
ↄ
/l.sc 
/alpha-latin.sc 
Œ
Ɖ
Ð
Đ
∞
/infinity.case 
ӥ
ü
/commaaccentcomb.case 
/qtail.sc 
/el-cy.loclBGR.sc 
/ereversed-cy.sc 
ʽ
̓
̕
̒
/commaturnedabovecomb.case 
ʻ
•
/bullet.case 
/bilabialclick.sc 
ѧ
/brevecomb.case 
ҙ
/e-cy.sc 
/ringacutecomb 
Ò
̉
Ù
/logicalnot.case 
¬
〃
÷
/divide.case 
̮
/brevebelowcomb.case 
̯
/El-cy.loclBGR 
/kastroke-cy.sc 
◊
ҋ
/brevecomb_gravecomb 
љ
є
Ω
Ω
Ʊ
/breveinvertedcomb.case 
ǽ
/four.osf 
/kabashkir-cy.sc 
ṻ
Ǥ
/c.sc 
/es-cy.sc 
/creversed.sc 
/yu-cy.sc 
/yu-cy.loclBGR.sc 
/gcaron.sc 
ƶ
/cstroke.sc 
₺
ԍ
̏
/four.tosf 
/upsilon-latin.sc 
С
Ɔ
Ↄ
C
̛
˻
˼
/cbar.sc 
Ɵ
ɛ
Ɋ
̃
/tilde.narrow 
/questiondown.ss03.sc 
/question.ss03.sc 
ʃ
Ю
/gstroke.sc 
˘
̆
Δ
∆
/brevecomb_acutecomb.case 
Љ
ſ
Г
ď
/komisje-cy.sc 
z
₥
ɔ
/gravecomb_dotaboverightcomb 
₹
Ṑ
/g.sc 
ǟ
ҷ
ӌ
̣
/lje-cy.sc 
/dmacronbelow.sc 
/astroke.sc 
Ȍ
Ḏ
˜
∂
ủ
/asciitilde.case 
~
/ka-cy.sc 
‛
/gravecomb_macroncomb 
/gcircumflex.sc 
/Ef-cy.loclBGR 
Ō
А
A
Ɐ
/_hooktop.part 
ꞓ
/acute.narrow 
´
ˊ
́
/oe.sc 
ũ
/ringcomb.case 
Ԃ
/dcroat.sc 
/eth.sc 
/dtail.sc 
Ć
/Cacute.loclPLK 
Q
Ԛ
/sdotbelow.sc 
/qhooktail.sc 
Ꞹ
Ө
Ȕ
/umacron.sc 
D
/zero.osf.zero 
/Oacute.loclPLK 
Ó
Ꞓ
̇
˙
͘
/ge-cy.loclSRB.sc 
/ge-cy.loclBGR.sc 
/ge-cy.sc 
/omacrongrave.sc 
₵
ӷ
Ợ
Ø
/questiondown.ss03 
/questiondown.ss03.case 
/question.ss03 
Ⱥ
Ŀ
L
/ustraight-cy.sc 
/y.sc 
/omacronacute.sc 
э
/zero.tosf.zero 
/brevecomb_gravecomb.case 
Ô
Ū
ȍ
ᵉ
Ṓ
Ǒ
᷆
᷇
/aemacron.sc 
/kje-cy.sc 
ә
ə
Ꟈ
/brevecomb.narrow 
/gacute.sc 
ӯ
Ọ
/softsign-cy.loclBGR 
ь
/acaron.sc 
/komidje-cy.sc 
/acircumflex.sc 
/zstroke.sc 
ᶿ
/Usmallstroke.sc 
/ccaron.sc 
ю
≥
/greaterequal.case 
Ҁ
е
e
ǝ
Ȯ
₴
ã
/obarred-cy.sc 
/bracketright.sc 
/bracketleft.sc 
/cacute.sc 
й
/iishort-cy.loclBGR 
Ő
/tildecomb_dieresiscomb.case 
/aogonek.sc 
Э
̩
/gdotaccent.sc 
Ŋ
/dotbelowcomb.case 
₡
/acutecomb_macroncomb.case 
Ѳ
/lmacronbelow.sc 
Ĉ
Ƈ
/lslash.sc 
O
О
ҿ
/Nsmall.sc 
/n.sc 
/ge-cy.loclBGR 
/imacron-cy.sc 
/yat-cy.sc 
/acutecomb_macroncomb 
/brevecomb_tildecomb.case 
/yuslittle-cy.sc 
G
⸗
Č
/ccircumflex.sc 
/abrevedotbelow.sc 
/f.sc 
/gestroke-cy.loclBSH.sc 
/ymacron.sc 
/brevecomb.narrow.case 
ȗ
ȅ
/ograve.sc 
]
[
/bracketright.case 
/bracketleft.case 
Ừ
/brevecomb-cy 
ů
Ḡ
/lmiddletilde.sc 
Ҍ
ṥ
ӕ
æ
/vhook.sc 
/adblgrave.sc 
ṳ
ʾ
/caroncomb.case 
ȋ
/oacute.sc 
/adotmacron.sc 
ɦ
Ғ
ѳ
ẓ
ĩ
/quotedblleft.ss01 
/eight.sc 
/wgrave.sc 
Û
Ꟍ
Ŧ
Ү
Y
/wacute.sc 
/notequal.case 
≠
Ċ
%
ᵒ
/zero.tosf 
Ɫ
ø
ŗ
/amacron.sc 
/eng.sc 
ï
/yi-cy.narrow 
ă
/quotedblright.ss01 
ĭ
ʼ
Ƥ
/slashocomb 
ề
ʋ
/quotedblbase.ss01 
Ԝ
W
Ɗ
/ustraightstroke-cy.sc 
/ldoublebar.sc 
ä
ӓ
Ʌ
V
/uacute.sc 
/dotaccentcomb.case 
Ǔ
ƃ
ҽ
Ǵ
Ȼ
Ű
œ
Ƚ
ɗ
ҹ
/acircumflexgrave.sc 
ɵ
ẕ
ṵ
ǣ
/ghook.sc 
/wcircumflex.sc 
/uogonek.loclNAV 
/omacron.sc 
Ỳ
/dcircumflexbelow.sc 
/ugrave.sc 
/Vhook.loclTOD0 
/o-cy.sc 
/o.sc 
/zero.osf 
/bdotbelow.sc 
/tildebelowcomb.case 
̰
/lbar.sc 
ї
/idieresis.narrow 
/ystroke.sc 
џ
ȼ
ĵ
/cdotaccent.sc 
₲
/chook.sc 
/circumflexcomb_gravecomb.case 
Ứ
,
ȃ
Ŏ
Ơ
ꟍ
/dzeabkhasian-cy.sc 
/ezh.sc 
∑
ɜ
/esh.sc 
å
/uniA7C8.sc 
<
/less.case 
/greater.case 
>
T
Т
/ngrave.sc 
ǉ
/omegaBroad-cy.sc 
ᴺ
/fita-cy.sc 
Ȱ
ꜚ
v
ʌ
/dhook.sc 
ѹ
/obarred.sc 
/be-cy.loclSRB 
/lessequal.case 
ṃ
₽
₢
≤
ǌ
ч
/che-cy.loclBGR 
/desccy_part. 
‚
‘
’
/nacute.sc 
/heng.sc 
/z.sc 
Є
ɑ
ɐ
а
a
ỵ
∫
ắ
/four.tf 
Ờ
Ł
Z
/u.sc 
ᵃ
Ⱦ
/sdotaccent.sc 
/longsdotaccent.sc 
ɤ
ƙ
/f_f.sc 
ъ
/hardsign-cy.loclBGR 
/Esh.localGAD 
/nmacronbelow.sc 
/Vhook.loclTOD0.ss04 
Ǿ
ŭ
ồ
ǡ
ƭ
ż
Ǫ
ˇ
ˬ
̌
ǖ
₩
г
᷅
Ԍ
ұ
ẉ
᷄
ữ
/ncircumflexbelow.sc 
/ucircumflexbelow.sc 
/rdblgrave.sc 
ш
ȁ
o
о
ụ
/ocircumflexgrave.sc 
ǳ
Ý
ԅ
â
/sha-cy.loclSRB 
/sha-cy.loclBGR 
ê
Ồ
/ygrave.sc 
ﬂ
ử
¢
Ú
+
/plus.case 
ō
ө
Ȳ
ḟ
/wdotaccent.sc 
/dze-cy.sc 
/s.sc 
/longs.sc 
Ȝ
Ƶ
/tbar.sc 
ē
/te-cy.loclSRB 
/te-cy.locl 
/four.lf 
4
Õ
ả
щ
/odblgrave.sc 
Ǭ
Ӫ
̊
ɣ
/aacute.sc 
ẹ
/questiondown.case 
¿
?
/questiondown.sc 
ҩ
/quoteright.ss01 
/quotesinglbase.ss01 
/quoteleft.ss01 
ǋ
À
ỉ
Ѵ
/uniA7B9.sc 
₸
/longbar_part. 
/esh.localGAD.sc 
Ḓ
/uhorn.sc 
/ecedillabreve.sc 
F
/Gestroke-cy.loclBSH 
ᶤ
/dhookandtail.sc 
Á
Ʃ
/yogh.sc 
/adotaccent.sc 
/question.sc 
в
Ố
ѵ
Ǣ
/three.tosf 
ť
ằ
/vhook.loclTOD0.sc 
/vhook.loclTOD0.sc.ss04 
ế
̐
ḋ
/brevecomb_hookabovecomb.case 
ᵓ
ầ
ǆ
Ɏ
Ұ
ᵋ
₦
Ӎ
Ớ
ų
ԝ
w
ӑ
Ɛ
º
/brevecomb_tildecomb 
/udblgrave.sc 
/fhook.sc 
̥
/ringbelowcomb.case 
/phook.sc 
/eight.tf 
ɘ
/three.lf 
3
ˆ
₿
/eopen.sc 
ň
ġ
Ѧ
ԯ
ṷ
/three.osf 
Ѹ
ʿ
Ẁ
ė
/schwa-cy.sc 
/schwa.sc 
ӳ
Ṉ
≧
/shcha-cy.loclBGR 
/rtail.sc 
Ә
Ə
ṙ
ҳ
Ӳ
₣
Ẃ
/ereversed.sc 
/Iigrave-cy.loclBGR 
/hungarumlautcomb.case 
/racute.sc 
ß
Ǡ
/ohorn.sc 
/qtail.case 
/asciitilde_part 
/circumflexcomb.case 
/brevecomb_hookabovecomb 
Ḿ
ř
ẫ
/brevecomb_dotaboverightcomb 
/Oogonek.loclNAV 
ǻ
℁
̂
/circumflex.narrow 
/acircumflexdotbelow.sc 
/_UChooktop.part 
Ṯ
ƈ
Ʋ
/wdotbelow.sc 
ǈ
/ohorndotbelow.sc 
Ẉ
ŕ
Ԋ
Ѣ
ð
/semisoftsign-cy.sc 
/ncaron.sc 
/esdescender-cy.loclBSH.sc 
ⱥ
⁸
/eight.numr 
/eight.dnom 
₈
ﬁ
/rdotaccent.sc 
˚
ặ
ộ
ā
…
ʷ
/pacute.sc 
/thorn.sc 
ḇ
r
/kstroke.sc 
/odotaccentmacron.sc 
ĉ
/ddotbelow.sc 
/ezhreversed.sc 
ȑ
Ā
Ɱ
Ȭ
/whook.sc 
/agrave.sc 
/tse-cy.loclBGR 
ц
/gcommaaccent.sc 
ḯ
/vhook.loclTOD0.ss04 
Ö
Ӧ
ӆ
ơ
ԑ
/emacronacute.sc 
я
Ꞩ
ṇ
/wdieresis.sc 
ŝ
/oslash.sc 
ô
/dblgravecomb.case 
/eight.lf 
8
/eight.osf 
/lacute.sc 
/umacron-cy.sc 
Ŵ
ȳ
/t.sc 
/te-cy.sc 
/te-cy.loclBGR.sc 
/tturned.sc 
ờ
/Izhitsadblgrave-cy.001 
Ѷ
ǥ
/yacute.sc 
/thook.sc 
/uclslash_part. 
Ẇ
/bdotaccent.sc 
/zero.tf.zero 
/izhitsa-cy.sc 
ċ
ф
/adotbelow.sc 
Ӯ
ǎ
ṣ
Ӝ
ª
/sobliquestroke.sc 
≦
̋
˝
/emtail-cy.sc 
/tmacronbelow.sc 
ẁ
ẑ
/mhook.sc 
/ycircumflex.sc 
/ocircumflexdotbelow.sc 
/omega-latin.sc 
/omega-cy.sc 
/arighthalfring.sc 
Ṁ
/approxequal.case 
≈
/tildecomb_acutecomb.case 
ḛ
ѣ
/three.tf 
ľ
ɋ
ŋ
ẃ
/de-cy.loclBGR.sc 
Ġ
€
Ӕ
Æ
ṁ
/iishorttail-cy.sc 
Ȏ
ĝ
Ь
/acircumflexacute.sc 
/emacron.sc 
Ǎ
/uhorndotbelow.sc 
ѕ
s
Ⱡ
/ndotaccent.sc 
/ncommaaccent.loclMAH 
ņ
ԏ
¥
ẩ
Ԅ
Ꞷ
Ѡ
/eight.tosf 
Ɤ
/wring.sc 
/gestroke-cy.sc 
/mdotbelow.sc 
/circumflexcomb_gravecomb 
ԇ
/Ezh.localGAD 
/ezh.localGAD.sc 
ѷ
/d.sc 
/edieresis-cy.sc 
Ц
ę
/scommaaccent.sc 
᷉
᷈
Ӂ
/Zhebreve-cy.loclBGR 
ḿ
ԓ
ȩ
Ѕ
S
₫
/ramshorn.sc 
Ẅ
b
͡
/breveinverteddoublecomb.asc 
/breveinverteddoublecomb.t 
Ư
/macroncomb_gravecomb.case 
Ầ
͝
/doublebrevebelowcomb.desc 
͜
/ucircumflex.sc 
ʊ
Ṍ
ő
Ȁ
Ɠ
/gedescender-cy.sc 
/Ii-cy.loclBGR 
/cheabkhasian-cy.sc 
/tcircumflexbelow.sc 
Ṱ
Ъ
/chekhakassian-cy.sc 
/aeacute.sc 
Ȫ
‰
ọ
/rdotbelow.sc 
/macute.sc 
І
Ӏ
I
Ӌ
ӽ
/zmacronbelow.sc 
ǰ
/ubar.sc 
Ҽ
/six.sc 
ɯ
т
m
/te-cy.loclBGR 
/rdotbelowmacron.sc 
/circumflexcomb_acutecomb.case 
ǒ
ԛ
q
ɓ
ŵ
Ŷ
/lbelt.sc 
/zero.tf 
=
/equal.case 
ṽ
/uhungarumlaut.sc 
ȯ
/quotereversed.ss01 
Ỡ
/zero.sc 
ⱦ
/hookabovecomb.case 
č
/tedescender-cy.sc 
/komizje-cy.sc 
/section.sc 
ẇ
/macroncomb_acutecomb 
/sdotbelowdotaccent.sc 
ѫ
ấ
Ṽ
/ddotaccent.sc 
Ǽ
Ặ
/zero.lf.zero 
/zero.zero 
/lambdastroke.sc 
Ʀ
ẚ
/eogonek.loclNAV 
ž
ȓ
/uhorngrave.sc 
Ҟ
/uhornacute.sc 
/geupturn-cy.sc 
б
/zacute.sc 
/xdotaccent.sc 
Ԑ
/emacrongrave.sc 
/Zedescender-cy.loclBSH 
ẽ
π
ɇ
u
/ii-cy.loclBGR 
и
/Esdescender-cy.loclBSH 
/caroncomb_dotaccentcomb 
/caroncomb_dotaccentcomb.case 
/uk-cy.sc 
/w.sc 
/we-cy.sc 
ƴ
қ
Ѫ
ṧ
/ou.sc 
/hcaron.sc 
Ď
Ỏ
Њ
ӛ
ӹ
Ҕ
ṿ
ḅ
Ƭ
л
/reversedze-cy.sc 
Ǆ
/udotbelow.sc 
0
/zero.lf 
Ĝ
К
/iringbelow.dotless 
š
ɉ
₭
ԃ
Ӈ
/brevecomb-cy.case 
/m.sc 
/em-cy.sc 
Ḋ
§
/iegrave-cy.sc 
/egrave.sc 
/itildebelow.dotless 
Ҵ
/iigrave-cy.sc 
/iigrave-cy.loclBGR.sc 
/gje-cy.loclMKD.sc 
/gje-cy.sc 
/qa-cy.sc 
/q.sc 
Ṡ
/ocircumflex.sc 
Ỗ
/aogonek.loclNAV.sc 
Ŭ
/ecircumflexdotbelow.sc 
/dzcaron.sc 
/rcommaaccent.sc 
ҫ
/jdotless.sc 
/j.sc 
/je-cy.sc 
ү
Ң
/ohornacute.sc 
/idotaccent 
і
i
/i.dot 
/idotless_ogonek 
/iogonek.dotless 
Ậ
/sacutedotaccent.sc 
ℓ
‡
/ydotbelow.sc 
ȱ
Ҭ
ë
ё
/Ismallstroke.sc 
/germandbls.sc 
ⁱ
/cheverticalstroke-cy.sc 
/lcaron.sc 
/gbreve.sc 
/zedieresis-cy.sc 
/tdiagonalstroke.sc 
/yturned.sc 
/tse-cy.sc 
/tse-cy.loclBGR.sc 
ḧ
Ґ
Ṷ
/el-cy.loclBGR 
/Kje-cy.loclBGR 
ṫ
/esdescender-cy.loclBSH 
ĕ
/istroke.dotless.sc 
/istroke.sc 
/gestrokehook-cy.sc 
ǫ
д
/zhe-cy.loclBGR 
/edotbelow.sc 
⅘
/zedescender-cy.loclBSH 
ӫ
Ṕ
/kdotbelow.sc 
/aringbelow.sc 
₤
/mdotaccent.sc 
ђ
/glottalstopsmall.sc 
ɂ
/i-cy.sc 
/i.sc 
/idotless.sc 
/palochka-cy.sc 
/Ismall.sc 
/i.uc.sc 
Ƒ
/three.dnom 
₃
³
/three.numr 
Ṟ
ṛ
f
/ucaron.sc 
Ɽ
ȉ
ợ
Ữ
/ydotaccent.sc 
Ẏ
ҭ
ȇ
/rmacronbelow.sc 
ɨ
/tretroflexhook.sc 
/zero.sc.zero 
Ą
/estroke.sc 
Ӷ
Ј
J
ӭ
ᵛ
ñ
/u-cy.sc 
ý
/ecircumflexgrave.sc 
/one.osf 
Ҙ
⁶
/six.numr 
/six.dnom 
₆
/kominje-cy.sc 
ṑ
Р
P
Ṿ
Ɬ
/oogonekmacron.sc 
ș
/dotaccentcomb_macroncomb 
Ṩ
/haabkhasian-cy.sc 
/idotbelow.dotless 
/komilje-cy.sc 
/bhook.sc 
ḣ
/_DhookSC.part 
ƀ
/odotbelow.sc 
ẏ
⅄
ṓ
/tdotbelow.sc 
ᵾ
/nacute.loclPLK 
ń
Ḍ
Ӣ
/hdotbelow.sc 
Ộ
/odotaccent.sc 
Ǯ
ɽ
/ccedilla.sc 
М
M
/ae.sc 
/aie-cy.sc 
/three.sc 
Ƹ
ᵻ
/yusbig-cy.sc 
/nj.sc 
җ
ẅ
/hardsign-cy.sc 
/hardsign-cy.loclBGR.sc 
Ṋ
Я
₁
/one.dnom 
/one.numr 
¹
ɱ
Ҡ
ᶑ
ŷ
Ќ"
);
}
