{
displayStrings = (
"брат шансе селанец жылжыту хәрәкәтләнү организовать промокательные тыпаграфіка прѣгънѫвъ бонхоми мєжда чи рађају крыжэн писател текстуром човештвото незахуалкојотл добразычлівасць достојанству хармоничен мичаджык рентген Чәмәк једни акутен пингвин антиспеед хармоничен разбирливост удобочитаемость редакциялық жемчужный гротескно Мыйла роман nononn",
"/brevecomb-cy ꙽",
"꙽Ōˉ",
"꙼",
"ꚞ",
"/brevecomb-cy ꚞ",
"₥",
"℆",
"₢",
"H♥",
"♡",
"♥",
"♡⬜",
"Ɒ",
"pꞴ",
"Ꞵ",
"SⱾ",
"/bar.case",
"/brokenbar.case",
"↑⬆",
"ⱰꞴⱾ",
"/glottalstopreversed.case",
"ɒȸƪɡɧʄ/k_commaaboverightcomb ɸȹʧ",
"Β
Ε
Θ
Λ
Φ
Ω
β
ε
θ
λ
ω
ϐ",
"Ɬɬ/lbelt.sc",
"ʱ
ʲ
ˡ
ʳ
ˢ
ˣ
/imod.dotless",
"/istrokemod.dotless",
"Ɔ",
"Ↄ",
"/one.lf ↑⬆",
"⬆⬊",
"⬇⬇",
"⬋",
"⬇⬅",
"⬉",
"⬅➡",
"○◉",
"☑☒×√□",
"¶/paragraph.sc",
"H/h.sc/paragraph.sc",
"‣",
"⸸",
"H/ampersand.sc",
"/section.sc",
"/paragraph.sc",
"/ampersand.sc/paragraph.sc/section.sc/at.case.sc",
"/bar.sc"
);
}
